<ion-view view-title="{{localStorage.appTitle}}"><ion-nav-title>APP{{localStorage.appTitle}}</ion-nav-title><ion-content padding="true" class="has-header"><div style="font-size:{{localStorage.fontSize}}pt"><table align=left border=0  cellpadding="4" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; ">
<tr>
<td align="center" colspan="2">
<b style="text-transform: uppercase;">APP{{localStorage.appTitle}}</b>
</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
<td align="center"><b><span class="style1">Câu hỏi</span>
    <tr>
    <td align=center valign=top>
    <a name="anchor12636" id="anchor12636"></a>
	<b>1</b>
    <td>
    <input type=hidden name="T12636" value="1" />
    TÌNH HUỐNG 1: KIM ĐÂM VÀO TAY KHI PHẪU THUẬT<br>
Một nữ phẫu thuật viên đang mang thai, tuổi thai 10 tuần vô kinh. Cô ta bị kim khâu đâm vào ngón tay khi đang thực hiện một phẫu thuật cấp cứu vì xuất huyết nội do thai ngoài tử cung vỡ. Vết kim đâm không chảy máu.<br>
Bệnh nhân là một phụ nữ độc thân, có nhiều bạn tình, không bao giờ dùng bao cao su. Test nhanh HIV trước mổ âm tính.<br> 
Cuộc mổ ghi nhận thai ngoài tử cung trên một nền di chứng viêm vùng chậu mạn có biểu hiện của hội chứng Fitz-Huges-Curtis.<br>
Phẫu thuật viên đã được tiêm phòng đủ với HBV.<br>
Cô ta rất lo lắng về khả năng bị nhiễm HIV.<br>
Bạn sẽ làm gì? Chọn một phương án.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12636'  
		id='C12636' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Không có nguy cơ phơi nhiễm HIV. Không làm gì thêm 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12636'  
		id='C12636' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Nguy cơ thấp phơi nhiễm HIV. Test HIV cho cô ta sau 3 và 6 tháng
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12636'  
		id='C12636' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Nguy cơ thấp phơi nhiễm HIV. Mời bệnh nhân test HIV sau 3 và 6 tháng
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12636'  
		id='C12636' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Làm thêm test nhanh cho bệnh nhân. Nếu test âm, xem như nguy cơ thấp
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12636'  
		id='C12636' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Làm thêm Western Blot cho bệnh nhân. Nếu test âm, xem như nguy cơ thấp
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12636'  
		id='C12636' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Nguy cơ cao phơi nhiễm HIV. Cần điều trị dự phòng ngay không chờ kết quả test kiểm tra sau đó
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12636'  
		id='C12636' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12637" id="anchor12637"></a>
	<b>2</b>
    <td>
    <input type=hidden name="T12637" value="1" />
    TÌNH HUỐNG 2: TỔN THƯƠNG LOÉT KHÔNG BẰNG CHỨNG<br>
Một phụ nữ trẻ đang mang thai, tuổi thai 10 tuần vô kinh.<br>
Từ khi biết có thai, cô ta hầu như không có quan hệ tình dục. Lần quan hệ tình dục duy nhất từ khi có thai là cách nay khoảng gần 2 tuần. Cô ta đến vì phát hiện có một vết loét không đau ở âm hộ.<br>
Quan sát thấy tổn thương loét có các đặc điểm của chancre giang mai.<br>
Xét nghiệm VDRL âm tính. FTA âm tính.<br>
Bạn sẽ làm gì? Chọn các câu đúng 
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12637'  
		id='C12637' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Xác định không có giang mai. Không làm thêm test chẩn đoán 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12637'  
		id='C12637' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Chưa xác định giang mai. Làm thêm test chẩn đoán để xác định
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12637'  
		id='C12637' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Không cần test. Điều trị như giang mai, theo phác đồ giang mai nguyên phát
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12637'  
		id='C12637' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Chờ làm thêm test. Điều trị khi có xác định giang mai bằng các test
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12637'  
		id='C12637' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Phá thai nếu xác định là giang mai. Điều trị giang mai 
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12637'  
		id='C12637' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Nếu xác định là giang mai cũng không cần phải phá thai. Điều trị giang mai. Theo dõi thai
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12637'  
		id='C12637' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12638" id="anchor12638"></a>
	<b>3</b>
    <td>
    <input type=hidden name="T12638" value="1" />
    TÌNH HUỐNG 3: VDRL DƯƠNG TÍNH<br>
Một phụ nữ đang có thai ở tuần thứ 20, đến khám thai tại bệnh viện tuyến tỉnh.<br>
Cách nay khoảng vài tuần, bà ta có bị một tổn thương ở âm hộ. Lúc đó, bà đi khám tại trạm y tế với kết luận là Herpes.<br>
Vì nghi ngờ, nên bạn đã cho thực hiện lại các xét nghiệm huyết thanh với kết quả VDRL dương tính.<br>
Test FTA kiểm dương tính.<br>
Bạn sẽ làm gì? Chọn giữa A và B. Nếu bạn chọn B, hãy cho biết thêm bạn chọn gì giữa C, D, E và F?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12638'  
		id='C12638' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Chấm dứt thai kỳ
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12638'  
		id='C12638' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Không chấm dứt thai kỳ
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12638'  
		id='C12638' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Nếu không chấm dứt thai kỳ: Kháng sinh điều trị ngay và đủ là đủ để dự phòng giang mai bẩm sinh
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12638'  
		id='C12638' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Nếu không chấm dứt thai kỳ: Cần theo dõi diễn biến huyết thanh dự báo giang mai bẩm sinh
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12638'  
		id='C12638' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Nếu không chấm dứt thai kỳ: Cần theo dõi bằng siêu âm để phát hiện giang mai bẩm sinh
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12638'  
		id='C12638' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Nếu không chấm dứt thai kỳ: Cần thực hiện chọc ối để chẩn đoán giang mai bẩm sinh
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12638'  
		id='C12638' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br></Table><table border="1" style="display:none" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tr bgcolor="lightgray" height=40><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height=22>
    <td align="center">
    <div 
    name='div12636'
    id='div12636' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12636';"
    onmouseover="this.style.cursor='hand'"  ><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12636_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12636_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12636_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12636_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12636_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12636_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12636_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12636_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12636_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12636_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12636_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12636_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12636_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12636_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12636">0</div>
    <input type="hidden" value="4" id="DC12636" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12637'
    id='div12637' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12637';"
    onmouseover="this.style.cursor='hand'"  ><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12637_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12637_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12637_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12637_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12637_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12637_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12637_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12637_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12637_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12637_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12637_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12637_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12637_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12637_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12637">0</div>
    <input type="hidden" value="4" id="DC12637" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12638'
    id='div12638' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12638';"
    onmouseover="this.style.cursor='hand'"  ><b>C3</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12638_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12638_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12638_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12638_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12638_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12638_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12638_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12638_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12638_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12638_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12638_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12638_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12638_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12638_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12638">0</div>
    <input type="hidden" value="4" id="DC12638" />
    </td>
    </tr>
    </tr>
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</table></div><div class="ads"></div></ion-content></ion-view>