<ion-view view-title="{{localStorage.appTitle}}"><ion-nav-title>APP{{localStorage.appTitle}}</ion-nav-title><ion-content padding="true" class="has-header"><div style="font-size:{{localStorage.fontSize}}pt"><table align=left border=0  cellpadding="4" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; ">
<tr>
<td align="center" colspan="2">
<b style="text-transform: uppercase;">APP{{localStorage.appTitle}}</b>
</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
<td align="center"><b><span class="style1">Câu hỏi</span>
    <tr>
    <td align=center valign=top>
    <a name="anchor12678" id="anchor12678"></a>
	<b>1</b>
    <td>
    <input type=hidden name="T12678" value="1" />
    TÌNH HUỐNG 1: VÒNG KINH NGẮN<br>
Bà A. 44 tuổi, PARA 2002, đến khám vì siêu âm phát hiện khối u buồng trứng.<br>
Từ hơn một năm nay, bà A. thấy chu kỳ kinh ngắn dần. Hiện tại, bà A. đang có chu kỳ kinh 23 ngày. Thỉnh thoảng, lại có một khoảng 45-60 ngày không có kinh, hoặc có ra một ít huyết hồng ở giữa khoảng này.<br>
Hôm nay là ngày thứ nhì của kỳ kinh. Khám phụ khoa ghi nhận cổ tử cung láng, hồng. Cổ tử cung có dịch nhầy trong, nhiều, loãng, lẫn máu đỏ giống kinh. Khám âm đạo không ghi nhận bất thường ở tử cung và hai phần phụ.<br>
Siêu âm ghi nhận tử cung dAP = 37 mm, cấu trúc đồng nhất. Nội mạc tử cung 6 mm. Buồng trứng phải có một nang echo trống, vỏ mỏng đều, không chồi, với đường kính 50 mm, không tăng sinh mạch (IOTA B1, B5). Cạnh đó là một nang nhỏ hơn, cùng tính chất, có đường kính 18 mm.<br>
Hãy nhận định về cấu trúc bất thường này và cho biết hướng quản lý. Chọn 2 câu đúng.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12678'  
		id='C12678' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc cơ năng của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12678'  
		id='C12678' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc thực thể không tân lập của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12678'  
		id='C12678' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc thực thể tân lập của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12678'  
		id='C12678' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Chưa có chỉ định can thiệp. Theo dõi đơn thuần. Đánh giá lại sau 3 tháng
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12678'  
		id='C12678' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị ngoại khoa. Phẫu thuật cắt u buồng trứng phải đơn thuần
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12678'  
		id='C12678' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị ngoại khoa. Phẫu thuật cắt u buồng trứng phải phối hợp với xạ hay hóa trị
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12678'  
		id='C12678' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12679" id="anchor12679"></a>
	<b>2</b>
    <td>
    <input type=hidden name="T12679" value="1" />
    TÌNH HUỐNG 2: TRỄ KINH<br>
Cô B., 22 tuổi., đến khám ra huyết âm đạo bất thường sau trễ kinh.<br>
Cô B. đã có gia đình. Đang tránh thai bằng tránh thai khẩn cấp với mifepristone 10 mg.<br>
Lần này, cô B. có dùng mifepristone. Hiện tại bị trễ kinh 1 tuần. Ra huyết âm đạo từ vài ngày nay. Ra huyết không kèm theo đau bụng. Khám ghi nhận tử cung bình thường. Khám mỏ vịt thấy có ít huyết sậm từ cổ tử cung. Buồng trứng trái có một khối, di động, chạm không đau.<br>
Siêu âm ghi nhận tử cung và buồng trứng phải bình thường, có một khối d = 4 cm ở buồng trứng trái, phản âm hỗn hợp, được xếp loại Tokyo IIA. Khảo sát Doppler không thấy dấu hiệu tăng tưới máu, với trở kháng mạch máu bình thường.<br>
Định tính hCG âm tính.  Hãy nhận định về cấu trúc bất thường này và cho biết hướng quản lý. Chọn 2 câu đúng.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12679'  
		id='C12679' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc cơ năng của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12679'  
		id='C12679' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc thực thể không tân lập của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12679'  
		id='C12679' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc thực thể tân lập của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12679'  
		id='C12679' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị phẫu thuật bóc nang buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12679'  
		id='C12679' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị nội tiết ức chế buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12679'  
		id='C12679' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Chưa có bất cứ chỉ định can thiệp nào
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12679'  
		id='C12679' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12680" id="anchor12680"></a>
	<b>3</b>
    <td>
    <input type=hidden name="T12680" value="1" />
    TÌNH HUỐNG 3: MÃN KINH<br>
Bà O. 52 tuổi, mãn kinh 5 năm, đến khám vì khối u buồng trứng phát hiện qua siêu âm.<br>
Bà O. có người chị ruột đã được phẫu thuật ung thư vú cách nay 5 năm.<br>
Khối u hoàn toàn không có triệu chứng lâm sàng, được phát hiện một cách hoàn toàn tình cờ, qua khám định kỳ.<br>
Siêu âm ghi nhận tử cung teo nhỏ. Không quan sát được buồng trứng trái. Buồng trứng phải có một cấu trúc dạng nang, d = 5 cm, tạo bởi 4 thùy, ngăn cách nhau bởi các vách mỏng (Tokyo loại IVA).<br>
Khảo sát Doppler không thấy dấu hiệu tăng tưới máu, với trở kháng mạch máu bình thường.<br>
CA125 = 22 U/mL. Bệnh viện của bạn không thực hiện được HE4, vì thế không tính được ROMA.<br>
Phết tế bào cổ tử cung âm tính với tân sinh trong biểu mô cổ tử cung. <br>
Hãy nhận định về cấu trúc bất thường này và cho biết hướng quản lý. Chọn 2 câu đúng.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12680'  
		id='C12680' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc cơ năng của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12680'  
		id='C12680' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc thực thể không tân lập của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12680'  
		id='C12680' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc thực thể tân lập của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12680'  
		id='C12680' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị bằng nội tiết để ức chế trục. Đánh giá lại khối u sau 3 tháng
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12680'  
		id='C12680' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị ngoại khoa. Phẫu thuật nội soi cắt u buồng trứng phải đơn thuần
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12680'  
		id='C12680' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị ngoại khoa. Cắt u. Cân nhắc khả năng cắt tử cung và buồng trứng trái
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12680'  
		id='C12680' 
		value='7'
        		ng-click='checkKetQua($event)' />
           
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12681" id="anchor12681"></a>
	<b>4</b>
    <td>
    <input type=hidden name="T12681" value="1" />
    TÌNH HUỐNG 4: CHẬM CON<br>
Bà P., 28 tuổi., đến khám vì chậm có thai. Lập gia đình được 1 năm, không tránh thai nhưng vẫn chưa có thai.<br>
Bà P. không có than phiền chủ nào khác, ngoại trừ việc chậm có con. Chu kỳ kinh đều, 28 ngày. Không rong huyết, không thống kinh.<br>
Khám ghi nhận tử cung bình thường. Buồng trứng trái có một khối chạm thốn.<br>
Siêu âm ghi nhận tử cung và buồng trứng phải bình thường, có một khối d = 3 cm ở buồng trứng trái, phản âm kém đều, được xếp loại Tokyo IIA.<br>
Khảo sát Doppler không thấy dấu hiệu tăng tưới máu, với trở kháng mạch máu bình thường.<br>
CA125 = 35 U/mL.<br>
Tổng soát nội tiết và tinh dịch đồ cùng trong giới hạn bình thường.<br>
Chụp buồng tử cung-vòi trứng thấy cản quang thoát khỏi vòi trứng trái chậm. Cản quang lan tỏa hạn chế trong hố chậu trái.<br>
Hãy nhận địnmh về tình trạng của bà P.?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12681'  
		id='C12681' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc cơ năng của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12681'  
		id='C12681' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc thực thể không tân lập của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12681'  
		id='C12681' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khả năng cao đó là một cấu trúc thực thể tân lập của buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12681'  
		id='C12681' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị phẫu thuật bóc nang
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12681'  
		id='C12681' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị nội bằng nội tiết
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12681'  
		id='C12681' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định điều trị tình trạng hiếm muộn
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12681'  
		id='C12681' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br></Table><table border="1" style="display:none" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tr bgcolor="lightgray" height=40><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height=22>
    <td align="center">
    <div 
    name='div12678'
    id='div12678' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12678';"
    onmouseover="this.style.cursor='hand'"  ><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12678_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12678_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12678_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12678_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12678_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12678_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12678_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12678_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12678_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12678_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12678_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12678_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12678_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12678_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12678">0</div>
    <input type="hidden" value="4" id="DC12678" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12679'
    id='div12679' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12679';"
    onmouseover="this.style.cursor='hand'"  ><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12679_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12679_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12679_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12679_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12679_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12679_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12679_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12679_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12679_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12679_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12679_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12679_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12679_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12679_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12679">0</div>
    <input type="hidden" value="4" id="DC12679" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12680'
    id='div12680' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12680';"
    onmouseover="this.style.cursor='hand'"  ><b>C3</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12680_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12680_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12680_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12680_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12680_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12680_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12680_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12680_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12680_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12680_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12680_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12680_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12680_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12680_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12680">0</div>
    <input type="hidden" value="4" id="DC12680" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12681'
    id='div12681' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12681';"
    onmouseover="this.style.cursor='hand'"  ><b>C4</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12681_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12681_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12681_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12681_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12681_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12681_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12681_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12681_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12681_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12681_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12681_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12681_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12681_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12681_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12681">0</div>
    <input type="hidden" value="4" id="DC12681" />
    </td>
    </tr>
    </tr>
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</table></div><div class="ads"></div></ion-content></ion-view>