<ion-view view-title="{{localStorage.appTitle}}"><ion-nav-title>APP{{localStorage.appTitle}}</ion-nav-title><ion-content padding="true" class="has-header"><div style="font-size:{{localStorage.fontSize}}pt"><table align=left border=0  cellpadding="4" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; ">
<tr>
<td align="center" colspan="2">
<b style="text-transform: uppercase;">APP{{localStorage.appTitle}}</b>
</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
<td align="center"><b><span class="style1">Câu hỏi</span>
    <tr>
    <td align=center valign=top>
    <a name="anchor12682" id="anchor12682"></a>
	<b>1</b>
    <td>
    <input type=hidden name="T12682" value="1" />
    TÌNH HUỐNG 1: TẦM SOÁT<br>
Bà S., 35 tuổi, độc thân, đến khám vì muốn được thực hiện tầm soát ung thư vú.<br>
Mẹ ruột của bà S. đã mất vì ung thư vú. Chị ruột của bà S. cũng đã được phẫu thuật ung thư tuyến thanh dịch của buồng trứng.<br>
Bà S. cao 158 cm, nặng 52 kg, mặc áo ngực size nhỏ (cup A). Chu kỳ kinh rất đều. Hiện tại mới vừa sạch kinh.<br>
Bà S. vừa được siêu âm vú, với kết quả âm tính với tổn thương tuyến vú.<br>
Bạn sẽ nói gì với bà S.? Chọn hai câu đúng      
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12682'  
		id='C12682' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Đã có chỉ định khảo sát đột biến BRCA
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12682'  
		id='C12682' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khảo sát đột biến BRCA có thể là cần thiết, nhưng không có ý nghĩa quyết định 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12682'  
		id='C12682' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khảo sát đột biến BRCA là không cần thiết, nhưng nếu có thực hiện thì cũng có ý nghĩa nhất định
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12682'  
		id='C12682' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Hiện tại chưa có chỉ định thực hiện tầm soát ung thư vú. Khuyến cáo bà S. tự khám vú định kỳ là thích hợp
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12682'  
		id='C12682' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Hiện tại, trong trường hợp cụ thể của bà S., siêu âm là phương tiện sẽ được dùng để thực hiện tầm soát định kỳ
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12682'  
		id='C12682' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Hiện tại, trong trường hợp cụ thể của bà S., MRI / nhũ ảnh là phương tiện sẽ được dùng để thực hiện tầm soát định kỳ
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12682'  
		id='C12682' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12683" id="anchor12683"></a>
	<b>2</b>
    <td>
    <input type=hidden name="T12683" value="1" />
    TÌNH HUỐNG 2: IMPLANON<br>
Bà T., 27 tuổi, PARA 1001, đến khám vì căng đau tuyến vú khi đang tránh thai bằng que cấy implant phóng thích etonogestrel.<br> 
Bà T. vừa đặt que cấy được 3 tháng. Cảm thấy đau căng tức vú chỉ mới vài tuần gần đây. Không triệu chứng cơ năng nào khác.<br>
Khám thấy 2 vú bình thường. Siêu âm không phát hiện thấy bất thường ở vú.<br>
Bạn nhận định ra sao và sẽ làm gì cho bà T.? Chọn hai câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12683'  
		id='C12683' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Bà T. đang có dấu hiệu của tình trạng cường progesterone
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12683'  
		id='C12683' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Bà T. đang có dấu hiệu của tình trạng cường estrogen
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12683'  
		id='C12683' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Bà T. đang có dấu hiệu của buồng trứng bị ức chế quá mức do que cấy etonogestrel (thiếu cả estrogen lẫn progesterone)
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12683'  
		id='C12683' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Tư vấn, giải thích rõ cơ chế đau vú để bà T. an tâm và hoặc dùng giảm đau với paracetamol hay NSAIDs
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12683'  
		id='C12683' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Dùng progesterone tại chỗ dạng kem bôi vú
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12683'  
		id='C12683' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Dùng tamoxifene (SERM) đường uống 
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12683'  
		id='C12683' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br></Table><table border="1" style="display:none" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tr bgcolor="lightgray" height=40><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height=22>
    <td align="center">
    <div 
    name='div12682'
    id='div12682' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12682';"
    onmouseover="this.style.cursor='hand'"  ><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12682_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12682_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12682_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12682_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12682_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12682_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12682_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12682_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12682_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12682_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12682_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12682_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12682_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12682_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12682">0</div>
    <input type="hidden" value="4" id="DC12682" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12683'
    id='div12683' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12683';"
    onmouseover="this.style.cursor='hand'"  ><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12683_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12683_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12683_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12683_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12683_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12683_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12683_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12683_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12683_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12683_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12683_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12683_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12683_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12683_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12683">0</div>
    <input type="hidden" value="4" id="DC12683" />
    </td>
    </tr>
    </tr>
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</table></div><div class="ads"></div></ion-content></ion-view>