<ion-view view-title="{{localStorage.appTitle}}"><ion-nav-title>APP{{localStorage.appTitle}}</ion-nav-title><ion-content padding="true" class="has-header"><div style="font-size:{{localStorage.fontSize}}pt"><table align=left border=0  cellpadding="4" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; ">
<tr>
<td align="center" colspan="2">
<b style="text-transform: uppercase;">APP{{localStorage.appTitle}}</b>
</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
<td align="center"><b><span class="style1">Câu hỏi</span>
    <tr>
    <td align=center valign=top>
    <a name="anchor12684" id="anchor12684"></a>
	<b>1</b>
    <td>
    <input type=hidden name="T12684" value="1" />
    TÌNH HUỐNG 1: VỘI VÃ<br>
Bà Y., 22 tuổi, PARA 0010, đến để tái khám vì rong huyết kéo dài sau phá thai nội khoa.<br>
Chu kỳ kinh của bà Y. trước nay không đều. Cách nay 1 tuần, bà Y. có đến khám một cơ sở y tế tuyến dưới vì trễ kinh 1 tuần, test nhanh hCG nước tiểu dương tính. Bà được chẩn đoán là có thai, và đã yêu cầu được phá thai nội khoa.<br>
Bà được thực hiện siêu âm, tuy nhiên không thấy có hình ảnh túi thai trong tử cung. Do test định tính hCG dương tính nên bà Y. vẫn được cho uống mifepristone và ngậm misoprostol theo phác đồ chuẩn dành cho tuổi thai dưới 49 ngày vô kinh.<br>
Sau khi hoàn tất các thuốc, bà Y. bắt đầu đau bụng, kèm theo đó là rong huyết từng ít một, nhưng không thấy tống xuất sản phẩm thụ thai. Tình trạng đau bụng khi nhiều, khi ít, kèm theo ra huyết đen rỉ rả từng ít một ở âm đạo.<br>
Đặt mỏ vịt thấy có ít huyết sậm đen, loãng từ cổ tử cung. Khám âm đạo không thấy bất thường ở hai phần phụ.<br>
Định lượng hCG hiện tại cho kết quả β-hCG = 1200 mIU/mL. Siêu âm ghi nhận nội mạc tử cung dầy 12 mm. Trong lòng tử cung có hình ảnh một khoảng echo trống, d = 3 mm X 3 mm X 6 mm, nằm lệch khỏi đường giữa, có dấu hiệu vòng đôi. Phần phụ trái không thấy bất thường. Có một khối phản âm hỗn hợp thuộc về buồng trứng phải, d = 23 mm. Không thấy hiện diện dịch cùng đồ.<br>
Hãy nhận định về tình hình của bà Y. và ra quyết định. Chọn hai câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12684'  
		id='C12684' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Sẩy thai không trọn với hình ảnh của sót nhau 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12684'  
		id='C12684' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Phá thai thất bại, còn túi thai trong buồng tử cung
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12684'  
		id='C12684' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Thai ngoài tử cung với túi giả trong buồng tử cung
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12684'  
		id='C12684' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Can thiệp ngoại khoa bằng hút chân không Karman 
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12684'  
		id='C12684' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Dùng lại nội khoa với mifepristone và misoprostol
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12684'  
		id='C12684' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Chỉ tiếp tục bằng misoprostol đơn thuần, với liều cao
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12684'  
		id='C12684' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12685" id="anchor12685"></a>
	<b>2</b>
    <td>
    <input type=hidden name="T12685" value="1" />
    TÌNH HUỐNG 2: THAI SAU TRÁNH THAI KHẨN CẤP<br>
Cô B., 24 tuổi, PARA 0010, chưa lập gia đình, đến khám vì ra huyết âm đạo kéo dài sau phá thai nội khoa.<br>
Cô B. có chu kỳ kinh đều, 28 ngày. Trước đây, cô B. đã từng phá thai nội khoa một lần.<br>
Hiện tại cô có quan hệ tình dục không thường xuyên với một số bạn tình khác nhau. Thỉnh thoảng, cô có dùng thuốc tránh thai khẩn cấp sau giao hợp, nếu như lần đó xảy ra vào giữa chu kỳ. Tùy lúc, có khi cô dùng nhóm progestogen đơn thuần (Postinor 1®) hoặc có khi là SPRM (Mifestad 10®).<br>
Đúng một tuần trước, do bị trễ kinh vài ngày, nên cô B. có đến bệnh viện để khám. Hôm đó, cô có định lượng β-hCG và siêu âm. Kết quả β-hCG = 608 mIU/mL. Siêu âm qua ngả âm đạo thấy có hình ảnh một vùng phản âm trống nằm giữa buồng tử cung, không bờ viền. Nội mạc tử cung =  6mm. Không bất thường ở 2 phần phụ.<br>
Cô đã yêu cầu phá thai vì thai kỳ ngoài ý muốn. Người ta đã thực hiện phá thai nội khoa.Sau khi uống thuốc phá thai, cô chỉ ra máu từng chút một, không thấy vật phẩm tống xuất. Kèm theo ra máu là tình trạng đau bụng âm ỉ, kéo dài.<br>
Hôm nay, do vẫn còn ra máu và còn đau bụng nên cô đến khám lại sớm hơn ngày hẹn.<br>
Khám thấy âm đạo có đọng ít huyết đen sậm chảy từ lổ cổ tử cung. Tử cung và hai phần phụ không thấy bất thường.<br> 
Cô được cho định lượng β-hCG và siêu âm. Kết quả β-hCG = 708 mIU/mL. Siêu âm qua đường âm đạo thấy trong buồng tử cung có một lớp dịch mỏng 1 mm. Nội mạc tử cung mỏng. Không thấy hình ảnh bất thường khác trong buồng tử cung. Không hình ảnh bất thường ở hai phần phụ. Không có dịch tự do ở túi cùng Douglas.<br>
Hãy nhận định về tình trạng của cô B. và cho biết hướng xử trí. Chọn hai câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12685'  
		id='C12685' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Sót sản phẩm thụ thai trong buồng tử cung sau phá thai
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12685'  
		id='C12685' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Xuất huyết liên quan đến thuốc sau phá thai nội khoa   
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12685'  
		id='C12685' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Thai không xác định vị trí (PUL) (Pregnancy of Unknown Location) 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12685'  
		id='C12685' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Dùng thêm thuốc gò tử cung nhóm misoprostol
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type='radio' 
		name='C12685'  
		id='C12685' 
		value='5'
        		ng-click='checkKetQua($event)' />
         Hút buồng tử cung bằng ống hút Karman 
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type='radio' 
		name='C12685'  
		id='C12685' 
		value='6'
        		ng-click='checkKetQua($event)' />
         Chưa có chỉ định can thiệp gì ở thời điểm hiện tại
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type='radio' 
		name='C12685'  
		id='C12685' 
		value='7'
        		ng-click='checkKetQua($event)' />
          
<br><br></Table><table border="1" style="display:none" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tr bgcolor="lightgray" height=40><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height=22>
    <td align="center">
    <div 
    name='div12684'
    id='div12684' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12684';"
    onmouseover="this.style.cursor='hand'"  ><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12684_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12684_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12684_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12684_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12684_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12684_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12684_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12684_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12684_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12684_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12684_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12684_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12684_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12684_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12684">0</div>
    <input type="hidden" value="4" id="DC12684" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12685'
    id='div12685' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12685';"
    onmouseover="this.style.cursor='hand'"  ><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12685_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12685_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12685_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12685_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12685_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12685_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12685_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12685_4" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12685_5'>
	<b>E</b>
    </div>
    <input type="hidden" id="D12685_5" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12685_6'>
	<b>F</b>
    </div>
    <input type="hidden" id="D12685_6" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12685_7'>
	<b>G</b>
    </div>
    <input type="hidden" id="D12685_7" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12685">0</div>
    <input type="hidden" value="4" id="DC12685" />
    </td>
    </tr>
    </tr>
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</table></div><div class="ads"></div></ion-content></ion-view>