<td width="5%" valign="top"><b>&nbsp;
<td align="center"><b><span class="style1">Câu hỏi</span>
    <tr>
    <td align=center valign=top>
    <a name="anchor12377" id="anchor12377"></a>
	<b>1</b>
    <td>
    <input type=hidden name="T12377" value="1" />
    U xơ-cơ tử cung là một khối u lệ thuộc steroid sinh dục. Khái niệm này phải được hiểu ra sao? Chọn một câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12377'  
		id='C12377' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Estrogen là điều kiện cần thiết cho sự phát triển của khối u, thông qua thụ thể estrogen
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12377'  
		id='C12377' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Progesterone là yếu tố chủ lực thúc đẩy sự phát triển của khối u, thông qua thụ thể progesterone
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12377'  
		id='C12377' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khối u sẽ thoái triển khi không có estrogen nội sinh hay khi thụ thể progesterone bị ức chế bằng thuốc 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12377'  
		id='C12377' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Cả 3 mệnh đề trên cùng là các lý giải chính xác về tình trạng lệ thuộc steroid sinh dục của u xơ-cơ tử cung  
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12378" id="anchor12378"></a>
	<b>2</b>
    <td>
    <input type=hidden name="T12378" value="1" />
    Khái niệm về tiềm năng ác tính rất thấp của u xơ xơ tử cung được diễn giải ra sao trong thực hành? Chọn một câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12378'  
		id='C12378' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Không cần thiết phải chỉ định phẫu thuật với mục đích duy nhất là khảo sát mô bệnh học
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12378'  
		id='C12378' 
		value='2'
        		ng-click='checkKetQua($event)' />
         U xơ-cơ tử cung có kết quả bệnh học là STUMP có thể được xem là một khối u lành tính
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12378'  
		id='C12378' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Không nhất thiết phải thực hiện khảo sát mô bệnh học bệnh phẩm mổ u xơ-cơ tử cung
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12378'  
		id='C12378' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Hiện đã đủ bằng chứng để xác định leiomyosarcoma là bệnh lý độc lập với u xơ-cơ tử cung
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12379" id="anchor12379"></a>
	<b>3</b>
    <td>
    <input type=hidden name="T12379" value="1" />
    Sự kiện nào ủng hộ thuyết vi sang chấn về bệnh sinh của adenomyosis? Chọn một câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12379'  
		id='C12379' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Đặc trưng trên hình ảnh học của adenomyosis
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12379'  
		id='C12379' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Nhu động nghịch thường của nội mạc tử cung 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12379'  
		id='C12379' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Tình trạng cường estrogen ở mô tuyến nội mạc
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12379'  
		id='C12379' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Thường kèm theo lạc nội mạc thâm nhiễm sâu
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12380" id="anchor12380"></a>
	<b>4</b>
    <td>
    <input type=hidden name="T12380" value="1" />
    Sự kiện nào có tính phù hợp kém với thuyết tử cung hai nguồn gốc về bệnh sinh của adenomyosis? Chọn một câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12380'  
		id='C12380' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Sự tồn tại của vùng tín hiệu kém giữa nội mạc và lớp cơ trên MRI
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12380'  
		id='C12380' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Tổn thương adenomyosis thường là các tổn thương đa ổ và lan tỏa 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12380'  
		id='C12380' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Tần suất cao xảy ra thai làm tổ ngoài tử cung trong adenomyosis 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12380'  
		id='C12380' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Tổn thương adenomyosis thường đi kèm lạc nội mạc thâm nhiễm sâu
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12381" id="anchor12381"></a>
	<b>5</b>
    <td>
    <input type=hidden name="T12381" value="1" />
    Khảo sát nào hữu ích về nhiều mặt, giúp phân biệt u xơ-cơ tử cung và bệnh tuyến cơ tử cung? Chọn một câu đúng 
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12381'  
		id='C12381' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Siêu âm thang xám	  
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12381'  
		id='C12381' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Siêu âm Doppler
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12381'  
		id='C12381' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Cộng hưởng từ 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12381'  
		id='C12381' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Soi buồng tử cung
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12382" id="anchor12382"></a>
	<b>6</b>
    <td>
    <input type=hidden name="T12382" value="1" />
    Đáp ứng với điều trị nội của u xơ tử cung và bệnh tuyến cơ tử cung giống nhau ở vấn đề gì? Chọn một câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12382'  
		id='C12382' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Cả hai cùng nhanh chóng đáp ứng với liệu trình GnRH agonist 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12382'  
		id='C12382' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Cả hai cùng nhanh chóng tái phát sau liệu trình GnRH agonist 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12382'  
		id='C12382' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Cả hai cùng đề kháng với liệu pháp cắt nguồn estrogen nội sinh 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12382'  
		id='C12382' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Cả hai cùng đề kháng với liệu pháp dựa trên nền progesterone
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12383" id="anchor12383"></a>
	<b>7</b>
    <td>
    <input type=hidden name="T12383" value="1" />
    Trong các trường hợp u xơ-cơ tử cung FIGO 4 sau, có chỉ định điều trị ngoại khoa ở trường hợp nào? Chọn một câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12383'  
		id='C12383' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung FIGO 4, ở người còn rất trẻ
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12383'  
		id='C12383' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung FIGO 4, ở người có kế hoạch sanh con
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12383'  
		id='C12383' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung FIGO 4, ở người có tiền sử sản khoa xấu
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12383'  
		id='C12383' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung FIGO 4, có kèm theo bệnh tuyến cơ tử cung
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12384" id="anchor12384"></a>
	<b>8</b>
    <td>
    <input type=hidden name="T12384" value="1" />
    Điều trị u xơ tử cung bằng GnRH đối vận tương đương với điều trị nào trong các điều trị sau? Chọn một câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12384'  
		id='C12384' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Aromatase inhibitor
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12384'  
		id='C12384' 
		value='2'
        		ng-click='checkKetQua($event)' />
         GnRH đồng vận 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12384'  
		id='C12384' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Progestogen  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12384'  
		id='C12384' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Ulipristal
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12385" id="anchor12385"></a>
	<b>9</b>
    <td>
    <input type=hidden name="T12385" value="1" />
    Trong các trường hợp u xơ-cơ tử cung FIGO 2 sau, có chỉ định điều trị ngoại khoa ở trường hợp nào? Chọn một câu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12385'  
		id='C12385' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung FIGO 2 gây biến chứng xuất huyết tử cung bất thường
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12385'  
		id='C12385' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung FIGO 2 gây tiền sử các thai kỳ với kết cục sản khoa xấu 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12385'  
		id='C12385' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung FIGO 2 gây biến dạng buồng tử cung ở người hiếm muộn
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12385'  
		id='C12385' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Có chỉ định điều trị ngoại khoa cho cả 3 trường hợp u xơ-cơ tử cung FIGO 2 trên 
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12386" id="anchor12386"></a>
	<b>10</b>
    <td>
    <input type=hidden name="T12386" value="1" />
    Nên chọn phương pháp điều trị nội khoa u xơ-cơ tử cung nào cho các mục tiêu điều trị ngắn hạn? Chọn một câu đúng 
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12386'  
		id='C12386' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Chất ức chế hoạt động của enzym Aromatase P450
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12386'  
		id='C12386' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Thuốc tránh thai estrogen-progestogen phối hợp
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12386'  
		id='C12386' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Dụng cụ tử cung phóng thích chậm levonorgestrel
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12386'  
		id='C12386' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Chất điều hòa chọn lọc thụ thể của progesterone
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12467" id="anchor12467"></a>
	<b>11</b>
    <td>
    <input type=hidden name="T12467" value="1" />
    Trong bệnh sinh của adenomyosis, giả thuyết vòng xoắn vi sang chấn giải thích được vấn đề nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12467'  
		id='C12467' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Đặc trưng trên hình ảnh học của adenomyosis
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12467'  
		id='C12467' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Tình trạng cường estrogen ở mô tuyến nội mạc
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12467'  
		id='C12467' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Sự tồn tại song song của u xơ tử cung và adenomyosis 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12467'  
		id='C12467' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Sự tồn tại song song của adenomyosis và của DIE (deeply infiltrating endometriosis)
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12468" id="anchor12468"></a>
	<b>12</b>
    <td>
    <input type=hidden name="T12468" value="1" />
    Trong bệnh sinh của adenomyosis, giả thuyết tử cung hai nguồn gốc giải thích được vấn đề nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12468'  
		id='C12468' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Tình trạng tổn thương đa ổ và lan tỏa của adenomyosis
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12468'  
		id='C12468' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Tình trạng đề kháng progesterone ở mô tuyến nội mạc
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12468'  
		id='C12468' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Tần suất cao xảy ra thai ngoài tử cung trong adenomyosis 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12468'  
		id='C12468' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Tần suất cao xảy ra kết cục thai kỳ xấu trong adenomyosis
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12469" id="anchor12469"></a>
	<b>13</b>
    <td>
    <input type=hidden name="T12469" value="1" />
    Thể khối của u xơ-cơ tử cung tăng lên trong điều kiện nội tiết nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12469'  
		id='C12469' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Khi u chịu tác dụng liên tục của estrogen nội sinh hay ngoại sinh
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12469'  
		id='C12469' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khi u chịu tác dụng liên tục của estrogen phối hợp với progestin ngoại sinh 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12469'  
		id='C12469' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khi u chịu tác dụng liên tục của progestin ngoại sinh
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12469'  
		id='C12469' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Khi u chịu tác dụng lần lượt của estrogen theo sau bằng progesterone 
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12470" id="anchor12470"></a>
	<b>14</b>
    <td>
    <input type=hidden name="T12470" value="1" />
    Chọn phát biểu chính xác trong các phát biểu sau về đặc điểm mô bệnh học của u xơ-cơ tử cung. 
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12470'  
		id='C12470' 
		value='1'
        		ng-click='checkKetQua($event)' />
         U xơ-cơ tử cung lành tính có khả năng chuyển đổi thành leiomyosarcoma
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12470'  
		id='C12470' 
		value='2'
        		ng-click='checkKetQua($event)' />
         U xơ-cơ tử cung có kết quả bệnh học là STUMP phải được xem là ác tính
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12470'  
		id='C12470' 
		value='3'
        		ng-click='checkKetQua($event)' />
         U xơ tử cung tổng hợp thụ thể với progesterone nhờ tác động của estrogen
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12470'  
		id='C12470' 
		value='4'
        		ng-click='checkKetQua($event)' />
         U xơ cơ tử cung có khả năng tự tổng hợp estrogen từ androstenedione 
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12471" id="anchor12471"></a>
	<b>15</b>
    <td>
    <input type=hidden name="T12471" value="1" />
    Khi một khối u xơ-cơ tử cung không có triệu chứng, đặc điểm nào là chỉ định phải can thiệp điều trị?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12471'  
		id='C12471' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung có nguy cơ sẽ chèn ép
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12471'  
		id='C12471' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung trong cơ, to, nhiều nhân
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12471'  
		id='C12471' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung dưới thanh mạc có cuống
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12471'  
		id='C12471' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Khối u xơ-cơ tử cung dưới niêm mạc có cuống
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12472" id="anchor12472"></a>
	<b>16</b>
    <td>
    <input type=hidden name="T12472" value="1" />
    Đặc điểm nào giúp phân biệt u xơ cơ tử cung lành tính với leiomyosarcoma?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12472'  
		id='C12472' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Đặc điểm hình ảnh trên cộng hưởng từ 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12472'  
		id='C12472' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Đặc điểm hình ảnh trên siêu âm 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12472'  
		id='C12472' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Nạo sinh thiết buồng tử cung
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12472'  
		id='C12472' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Diễn tiến khối u to nhanh
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12473" id="anchor12473"></a>
	<b>17</b>
    <td>
    <input type=hidden name="T12473" value="1" />
    Khi có rong huyết liên quan đến u xơ-cơ tử cung, khảo sát hình ảnh nào giúp quyết định phương pháp điều trị?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12473'  
		id='C12473' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Cộng hưởng từ khảo sát vùng kết nối 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12473'  
		id='C12473' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Siêu âm với khảo sát dòng chảy bằng Doppler
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12473'  
		id='C12473' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Siêu âm grey-scale tiêu chuẩn 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12473'  
		id='C12473' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Siêu âm với bơm nước buồng tử cung
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12474" id="anchor12474"></a>
	<b>18</b>
    <td>
    <input type=hidden name="T12474" value="1" />
    Trong các tình huống sau, việc thực hiện UAE là hợp lý và chính đáng nhất trong tình huống nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12474'  
		id='C12474' 
		value='1'
        		ng-click='checkKetQua($event)' />
         U xơ-cơ tử cung nhiều nhân, gây nhiều phức tạp cho cuộc mổ bóc nhân xơ bảo tồn tử cung
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12474'  
		id='C12474' 
		value='2'
        		ng-click='checkKetQua($event)' />
         U xơ-cơ tử cung có triệu chứng, không đáp ứng với điều trị nội, nhưng muốn bảo tồn tử cung
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12474'  
		id='C12474' 
		value='3'
        		ng-click='checkKetQua($event)' />
         U xơ-cơ tử cung cần cắt tử cung ở người từng bị mổ bụng nhiều lần, tiên lượng mổ rất khó
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12474'  
		id='C12474' 
		value='4'
        		ng-click='checkKetQua($event)' />
         U xơ-cơ tử cung không triệu chứng, nhưng có kích thước lớn, không có chỉ định của phẫu thuật
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12475" id="anchor12475"></a>
	<b>19</b>
    <td>
    <input type=hidden name="T12475" value="1" />
    Nhận định ra sao khi so sánh điều trị u xơ-cơ tử cung có triệu chứng xuất huyết bằng SPRM và bằng IUS-LNG? 
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12475'  
		id='C12475' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Bên cạnh làm giảm rong huyết SPRM có ưu thế hơn IUS-LNG nhờ hiệu quả làm giảm khối u 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12475'  
		id='C12475' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Bên cạnh làm giảm rong huyết IUS-LNG có ưu thế hơn SPRM nhờ hiệu quả làm giảm khối u
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12475'  
		id='C12475' 
		value='3'
        		ng-click='checkKetQua($event)' />
         SPRM và IUS-LNG cùng có hiệu quả trên thể tích khối u và triệu chứng rong huyết 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12475'  
		id='C12475' 
		value='4'
        		ng-click='checkKetQua($event)' />
         SPRM và IUS-LNG cùng có hiệu quả trên rong huyết và cùng không làm giảm khối u 
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12476" id="anchor12476"></a>
	<b>20</b>
    <td>
    <input type=hidden name="T12476" value="1" />
    Khi có chỉ định điều trị nội khoa u xơ-cơ tử cung, một cách tổng quát, phương pháp nào là phương pháp có nhiều ưu thế nhất?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12476'  
		id='C12476' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Chất điều hòa chọn lọc thụ thể của progesterone 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12476'  
		id='C12476' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Progestin đơn độc đường uống hay LASDS 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12476'  
		id='C12476' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Thuốc tránh thai estrogen-progestin phối hợp
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12476'  
		id='C12476' 
		value='4'
        		ng-click='checkKetQua($event)' />
         GnRH agonist hay GnRH antagonist
<br><br> <div class="ads"></div></Table><table border="1" style="display:none" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tr bgcolor="lightgray" height=40><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height=22>
    <td align="center">
    <div 
    name='div12377'
    id='div12377' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12377';"
    onmouseover="this.style.cursor='hand'"  ><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12377_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12377_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12377_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12377_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12377_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12377_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12377_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12377_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12377">0</div>
    <input type="hidden" value="4" id="DC12377" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12378'
    id='div12378' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12378';"
    onmouseover="this.style.cursor='hand'"  ><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12378_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12378_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12378_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12378_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12378_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12378_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12378_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12378_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12378">0</div>
    <input type="hidden" value="4" id="DC12378" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12379'
    id='div12379' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12379';"
    onmouseover="this.style.cursor='hand'"  ><b>C3</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12379_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12379_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12379_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12379_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12379_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12379_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12379_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12379_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12379">0</div>
    <input type="hidden" value="4" id="DC12379" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12380'
    id='div12380' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12380';"
    onmouseover="this.style.cursor='hand'"  ><b>C4</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12380_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12380_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12380_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12380_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12380_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12380_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12380_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12380_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12380">0</div>
    <input type="hidden" value="4" id="DC12380" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12381'
    id='div12381' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12381';"
    onmouseover="this.style.cursor='hand'"  ><b>C5</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12381_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12381_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12381_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12381_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12381_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12381_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12381_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12381_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12381">0</div>
    <input type="hidden" value="4" id="DC12381" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12382'
    id='div12382' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12382';"
    onmouseover="this.style.cursor='hand'"  ><b>C6</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12382_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12382_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12382_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12382_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12382_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12382_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12382_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12382_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12382">0</div>
    <input type="hidden" value="4" id="DC12382" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12383'
    id='div12383' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12383';"
    onmouseover="this.style.cursor='hand'"  ><b>C7</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12383_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12383_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12383_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12383_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12383_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12383_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12383_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12383_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12383">0</div>
    <input type="hidden" value="4" id="DC12383" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12384'
    id='div12384' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12384';"
    onmouseover="this.style.cursor='hand'"  ><b>C8</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12384_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12384_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12384_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12384_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12384_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12384_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12384_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12384_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12384">0</div>
    <input type="hidden" value="4" id="DC12384" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12385'
    id='div12385' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12385';"
    onmouseover="this.style.cursor='hand'"  ><b>C9</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12385_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12385_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12385_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12385_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12385_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12385_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12385_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12385_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12385">0</div>
    <input type="hidden" value="4" id="DC12385" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12386'
    id='div12386' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12386';"
    onmouseover="this.style.cursor='hand'"  ><b>C10</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12386_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12386_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12386_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12386_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12386_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12386_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12386_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12386_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12386">0</div>
    <input type="hidden" value="4" id="DC12386" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12467'
    id='div12467' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12467';"
    onmouseover="this.style.cursor='hand'"  ><b>C11</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12467_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12467_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12467_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12467_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12467_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12467_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12467_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12467_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12467">0</div>
    <input type="hidden" value="4" id="DC12467" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12468'
    id='div12468' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12468';"
    onmouseover="this.style.cursor='hand'"  ><b>C12</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12468_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12468_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12468_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12468_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12468_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12468_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12468_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12468_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12468">0</div>
    <input type="hidden" value="4" id="DC12468" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12469'
    id='div12469' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12469';"
    onmouseover="this.style.cursor='hand'"  ><b>C13</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12469_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12469_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12469_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12469_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12469_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12469_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12469_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12469_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12469">0</div>
    <input type="hidden" value="4" id="DC12469" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12470'
    id='div12470' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12470';"
    onmouseover="this.style.cursor='hand'"  ><b>C14</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12470_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12470_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12470_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12470_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12470_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12470_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12470_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12470_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12470">0</div>
    <input type="hidden" value="4" id="DC12470" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12471'
    id='div12471' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12471';"
    onmouseover="this.style.cursor='hand'"  ><b>C15</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12471_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12471_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12471_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12471_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12471_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12471_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12471_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12471_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12471">0</div>
    <input type="hidden" value="4" id="DC12471" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12472'
    id='div12472' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12472';"
    onmouseover="this.style.cursor='hand'"  ><b>C16</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12472_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12472_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12472_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12472_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12472_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12472_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12472_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12472_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12472">0</div>
    <input type="hidden" value="4" id="DC12472" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12473'
    id='div12473' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12473';"
    onmouseover="this.style.cursor='hand'"  ><b>C17</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12473_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12473_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12473_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12473_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12473_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12473_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12473_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12473_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12473">0</div>
    <input type="hidden" value="4" id="DC12473" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12474'
    id='div12474' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12474';"
    onmouseover="this.style.cursor='hand'"  ><b>C18</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12474_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12474_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12474_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12474_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12474_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12474_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12474_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12474_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12474">0</div>
    <input type="hidden" value="4" id="DC12474" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12475'
    id='div12475' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12475';"
    onmouseover="this.style.cursor='hand'"  ><b>C19</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12475_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12475_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12475_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12475_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12475_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12475_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12475_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12475_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12475">0</div>
    <input type="hidden" value="4" id="DC12475" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12476'
    id='div12476' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12476';"
    onmouseover="this.style.cursor='hand'"  ><b>C20</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12476_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12476_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12476_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12476_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12476_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12476_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12476_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12476_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12476">0</div>
    <input type="hidden" value="4" id="DC12476" />
    </td>
    </tr>
    </tr>
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</table></div></ion-content></ion-view>
