<ion-view view-title="{{localStorage.iratTitle}}"><ion-nav-title>IRAT{{localStorage.iratTitle}}</ion-nav-title><ion-content padding="true" class="has-header"><div style="font-size:{{localStorage.fontSize}}pt"><table align=left border=0  cellpadding="4" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; ">
<tr>
<td align="center" colspan="2">
<b style="text-transform: uppercase;">IRAT{{localStorage.iratTitle}}</b>
</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
<td align="center"><b><span class="style1">Câu hỏi</span>
    <tr>
    <td align=center valign=top>
    <a name="anchor12507" id="anchor12507"></a>
	<b>1</b>
    <td>
    <input type=hidden name="T12507" value="1" />
    Quan điểm nào trong các quan điểm sau về điều trị xuất huyết cơ năng tuổi dậy thì là thích hợp?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12507'  
		id='C12507' 
		value='1'
        		ng-click='checkKetQua($event)' />
         COC là liệu pháp đơn giản, hiệu quả, an toàn cho trục hạ đồi-yên
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12507'  
		id='C12507' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Chỉ điều trị trong chu kỳ có chảy máu, không điều trị nhiều chu kỳ 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12507'  
		id='C12507' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Điểm mấu chốt của điều trị là gây ra được hiện tượng phóng noãn
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12507'  
		id='C12507' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Ưu tiên cho progestin thay vì progesterone, do có hiệu quả hơn
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12508" id="anchor12508"></a>
	<b>2</b>
    <td>
    <input type=hidden name="T12508" value="1" />
    Quan điểm nào trong các quan điểm sau về điều trị xuất huyết cơ năng trước mãn kinh là thích hợp?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12508'  
		id='C12508' 
		value='1'
        		ng-click='checkKetQua($event)' />
         COC là liệu pháp đơn giản, hiệu quả, an toàn trong đa số trường hợp
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12508'  
		id='C12508' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Chỉ điều trị trong chu kỳ có chảy máu, không điều trị nhiều chu kỳ
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12508'  
		id='C12508' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Ưu tiên điều trị với Nor-19 testosterone hơn là cho với các progestin khác  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12508'  
		id='C12508' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Điểm mấu chốt của điều trị là phục hồi được phát triển nội mạc tử cung
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12509" id="anchor12509"></a>
	<b>3</b>
    <td>
    <input type=hidden name="T12509" value="1" />
    Xác định điểm giống nhau trong cơ chế gây xuất huyết tử cung cơ năng ở tuổi dậy thì và ở giai đoạn muộn của tuổi quanh 
mãn kinh?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12509'  
		id='C12509' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Sự không ổn định của hoạt động chế tiết GnRH của hạ đồi
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12509'  
		id='C12509' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Sự không ổn định của hoạt động chế tiết LH của tuyến yên
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12509'  
		id='C12509' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Thiếu hụt của progesterone chế tiết từ buồng trứng  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12509'  
		id='C12509' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Hoạt động chiêu mộ noãn nang không hiệu quả
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12510" id="anchor12510"></a>
	<b>4</b>
    <td>
    <input type=hidden name="T12510" value="1" />
    Ở bệnh nhân có xuất huyết tử cung bất thường liên quan với hội chứng buồng trứng đa nang, chảy máu có liên quan đến biểu 
hiện nội tiết nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12510'  
		id='C12510' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Cường estrogen tương đối 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12510'  
		id='C12510' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Cường androgen tuyệt đối
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12510'  
		id='C12510' 
		value='3'
        		ng-click='checkKetQua($event)' />
         LH căn bản cao thường trực 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12510'  
		id='C12510' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Tăng prolactin  
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12511" id="anchor12511"></a>
	<b>5</b>
    <td>
    <input type=hidden name="T12511" value="1" />
    Quan điểm nào trong các quan điểm sau về điều trị xuất huyết tử cung sau khi đã mãn kinh là thích hợp?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12511'  
		id='C12511' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Siêu âm đường âm đạo là khảo sát bắt buộc đầu tay để giúp quyết định điều trị xuất huyết hậu mãn kinh
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12511'  
		id='C12511' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Nạo sinh thiết buồng tử cung để loại trừ ác tính là bắt buộc cho mọi trường hợp xuất huyết hậu mãn kinh 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12511'  
		id='C12511' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Progestin là điều trị quan trọng nhất của xuất huyết hậu mãn kinh không do nguyên nhân ác tính
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12511'  
		id='C12511' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Xuất huyết ở người đã mãn kinh có BMI thấp là một yếu tố gợi ý nguồn gốc cơ năng của xuất huyết 
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12512" id="anchor12512"></a>
	<b>6</b>
    <td>
    <input type=hidden name="T12512" value="1" />
    Khảo sát biến thiên nồng độ của hCG theo thời gian có ý nghĩa ra sao?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12512'  
		id='C12512' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Cung cấp thông tin giúp xác định hoạt năng của hoàng thể thai kỳ 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12512'  
		id='C12512' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Cung cấp thông tin giúp xác định hoạt năng của nguyên bào nuôi 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12512'  
		id='C12512' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Cung cấp thông tin giúp xác định vị trí làm tổ của trứng thụ tinh
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12512'  
		id='C12512' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Cung cấp thông tin giúp xác định tính sinh tồn của phôi thai
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12513" id="anchor12513"></a>
	<b>7</b>
    <td>
    <input type=hidden name="T12513" value="1" />
    Khái niệm “vùng phân biệt của β-hCG” (discrimination zone) được xây dựng từ các thành tố nào (không phân biệt thứ tự) 
trong các thành tố nào sau đây? [1] điểm cắt (ngưỡng cắt) (cut-off-point) của nồng độ β-hCG dùng để phân định ; [2] sự hiện 
diện của túi thai ở vị trí ngoài buồng tử cung ; [3] sự hiện diện của cấu trúc phản âm hỗn hợp ở cạnh tử cung ; [4] sự vắng mặt 
của hình ảnh túi thai bên trong buồng tử cung. Chọn một tổ hợp dùng xây dựng ngưỡng phân định
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12513'  
		id='C12513' 
		value='1'
        		ng-click='checkKetQua($event)' />
         [1] và [2]
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12513'  
		id='C12513' 
		value='2'
        		ng-click='checkKetQua($event)' />
         [1] và [3]
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12513'  
		id='C12513' 
		value='3'
        		ng-click='checkKetQua($event)' />
         [1] và { [2] hoặc [3] } 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12513'  
		id='C12513' 
		value='4'
        		ng-click='checkKetQua($event)' />
         [1] và [4]
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12514" id="anchor12514"></a>
	<b>8</b>
    <td>
    <input type=hidden name="T12514" value="1" />
    Quan điểm nào trong các quan điểm sau về điều trị tăng sinh tuyến nội mạc tử cung phức tạp không điển hình là thích hợp?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12514'  
		id='C12514' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Do có tiềm năng ác tính, khả năng điều trị nội khoa thành công lại không cao nên điều trị ngoại khoa là ưu tiên nhất<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12514'  
		id='C12514' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Do có nguyên nhân chủ yếu là tình trạng phơi bày dài hạn với estrogen nên điều trị bằng progestin là điều trị chính<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12514'  
		id='C12514' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Do tái phát rất cao, nên việc theo dõi sau điều trị phải được thực hiện thường xuyên, định kỳ dựa trên hình ảnh học  <br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12514'  
		id='C12514' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Trong thời gian theo dõi điều trị, nếu có nghi ngờ, thực hiện sinh thiết bằng Pipelle là đủ. Không cần nạo sinh thiết<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12515" id="anchor12515"></a>
	<b>9</b>
    <td>
    <input type=hidden name="T12515" value="1" />
    Trong các phân tử sau, phân tử nào có hoạt tính kháng estrogen yếu nhất?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12515'  
		id='C12515' 
		value='1'
        		ng-click='checkKetQua($event)' />
         17-α acetoxy progesterone (medroxyprogesterone acetate, cyproterone acetate… )
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12515'  
		id='C12515' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Nor-19 testosterone (levonorgestrel, norethindrone…)
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12515'  
		id='C12515' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Chất điều hòa chọn lọc thụ thể estrogen (tamoxifene, raloxifene…)
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12515'  
		id='C12515' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Progesterone thiên nhiên (micronized progesterone, progesterone benzoate…)
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12516" id="anchor12516"></a>
	<b>10</b>
    <td>
    <input type=hidden name="T12516" value="1" />
    Trong microadenoma tuyến yên gây tăng prolactin, kiểu bất thường kinh nguyệt nào là phổ biến nhất?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12516'  
		id='C12516' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Vô kinh ít nhất 3 tháng
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12516'  
		id='C12516' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Chảy máu kinh nặng 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12516'  
		id='C12516' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Chảy máu kinh thường xuyên
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12516'  
		id='C12516' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Chảy máu kinh kéo dài
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12895" id="anchor12895"></a>
	<b>11</b>
    <td>
    <input type=hidden name="T12895" value="1" />
    Nguyên nhân sâu xa của xuất huyết tử cung cơ năng tuổi dậy thì liên quan đến hiện tượng nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12895'  
		id='C12895' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Tuyến yên chưa trưởng thành về chức năng
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12895'  
		id='C12895' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Nhịp độ của các xung GnRH quá thưa thớt
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12895'  
		id='C12895' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Nhịp độ của các xung GnRH quá dầy đặc
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12895'  
		id='C12895' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Tuyến yên không nhạy cảm với xung GnRH 
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12896" id="anchor12896"></a>
	<b>12</b>
    <td>
    <input type=hidden name="T12896" value="1" />
    Khảo sát nội tiết ở một thiếu nữ bị xuất huyết tử cung cơ năng tuổi dậy thì, ghi nhận điều gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12896'  
		id='C12896' 
		value='1'
        		ng-click='checkKetQua($event)' />
         AMH thấp
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12896'  
		id='C12896' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Inhibin B thấp 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12896'  
		id='C12896' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Progesterone thấp 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12896'  
		id='C12896' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Estradiol thấp
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12897" id="anchor12897"></a>
	<b>13</b>
    <td>
    <input type=hidden name="T12897" value="1" />
    Điều trị một trường hợp xuất huyết tử cung tuổi dậy thì, bạn nhắm đến mục tiêu nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12897'  
		id='C12897' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Thiết lập được một phóng noãn hằng định 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12897'  
		id='C12897' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Thay thế tạm thời hoàng thể bị bất toàn
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12897'  
		id='C12897' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Thúc đẩy tiến trình phát triển noãn nang
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12897'  
		id='C12897' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Giải phóng trục khỏi tình trạng bị ức chế
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12898" id="anchor12898"></a>
	<b>14</b>
    <td>
    <input type=hidden name="T12898" value="1" />
    Trong hội chứng buồng trứng đa nang, sản phẩm chế tiết chủ yếu của nang noãn là chất nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12898'  
		id='C12898' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Dihydroepiandrostenedione
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12898'  
		id='C12898' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Pregnenolone
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12898'  
		id='C12898' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Các estrogen (bao gồm cả E1 và E2) 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12898'  
		id='C12898' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Progesterone 
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12899" id="anchor12899"></a>
	<b>15</b>
    <td>
    <input type=hidden name="T12899" value="1" />
    Một phụ nữ vô kinh nguyên phát, FSH và LH rất cao, bạn định hướng đến nguyên nhân nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12899'  
		id='C12899' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Nguyên nhân hạ đồi 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12899'  
		id='C12899' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Nguyên nhân tuyến yên
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12899'  
		id='C12899' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Nguyên nhân buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12899'  
		id='C12899' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Nguyên nhân cơ quan Mullerian
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12900" id="anchor12900"></a>
	<b>16</b>
    <td>
    <input type=hidden name="T12900" value="1" />
    Một phụ nữ với hội chứng buồng trứng đa nang, cần được điều trị ra sao?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12900'  
		id='C12900' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Dùng progestogen có hoạt tính kháng androgen 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12900'  
		id='C12900' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Dùng các chất thúc đẩy sản xuất FSH nội sinh
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12900'  
		id='C12900' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Giảm cân và dùng các chất tăng nhạy insuline  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12900'  
		id='C12900' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Chọn một trong 3 điều trị trên, tuỳ mục tiêu
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12901" id="anchor12901"></a>
	<b>17</b>
    <td>
    <input type=hidden name="T12901" value="1" />
    Trong xuất huyết tử cung bất thường quanh mãn kinh, so sánh sinh thiết bằng nong nạo, ống Pipelle và sinh thiết qua soi buồng tử cung, bạn nhận thấy điều gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12901'  
		id='C12901' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Sinh thiết bằng ống Pipelle là ưu tiên trong phần lớn các trường hợp, nếu không có tổn thương khu trú  
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12901'  
		id='C12901' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Sinh thiết dưới soi buồng tử cung là lựa chọn trước tiên do khả năng tiếp cận chính xác tổn thương 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12901'  
		id='C12901' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Nong cổ tử cung và nạo sinh thiết buồng tử cung là ưu tiên do ít có nguy cơ bỏ sót tổn thương   
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12901'  
		id='C12901' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Cả 3 phương pháp khảo sát là tương đương về độ nhạy, độ chuyên biệt, âm giả và dương giả 
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12902" id="anchor12902"></a>
	<b>18</b>
    <td>
    <input type=hidden name="T12902" value="1" />
    Thăm dò một trường hợp xuất huyết tử cung quanh tuổi mãn kinh, mục tiêu nào là ưu tiên nhất?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12902'  
		id='C12902' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Xác định có rối loạn phóng noãn qua tổng soát nội tiết 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12902'  
		id='C12902' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Khảo sát tình trạng dự trữ noãn nang tại buồng trứng
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12902'  
		id='C12902' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Xác định có hay không có một nguyên nhân thực thể 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12902'  
		id='C12902' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Đánh giá ảnh hưởng toàn thân của giảm steroid sinh dục  
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12903" id="anchor12903"></a>
	<b>19</b>
    <td>
    <input type=hidden name="T12903" value="1" />
    Một phụ nữ tuổi sinh đẻ, bị không phóng noãn do thiểu năng hạ đồi, cần được điều trị ra sao?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12903'  
		id='C12903' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Dùng bơm tạo xung GnRH ngoại sinh 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12903'  
		id='C12903' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Dùng gonadotropin FSH và LH ngoại sinh
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12903'  
		id='C12903' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Dùng estrogen và progesterone ngoại sinh  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12903'  
		id='C12903' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Chọn một trong 3 điều trị trên, tuỳ mục tiêu
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12904" id="anchor12904"></a>
	<b>20</b>
    <td>
    <input type=hidden name="T12904" value="1" />
    Điều trị xuất huyết tử cung hậu mãn kinh đã loại trừ bất thường ác tính ở nội mạc tử cung, ưu tiên chọn dược chất nào là dược chất đầu tay?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12904'  
		id='C12904' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Ethinyl estradiol
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12904'  
		id='C12904' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Dydrogesterone 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12904'  
		id='C12904' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Acid tranexamic  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12904'  
		id='C12904' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Progestogen 
<br><br><div class="ads"></div></Table><table border="1" style="display:none" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tr bgcolor="lightgray" height=40><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height=22>
    <td align="center">
    <div 
    name='div12507'
    id='div12507' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12507';"
    onmouseover="this.style.cursor='hand'"  ><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12507_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12507_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12507_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12507_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12507_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12507_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12507_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12507_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12507">0</div>
    <input type="hidden" value="4" id="DC12507" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12508'
    id='div12508' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12508';"
    onmouseover="this.style.cursor='hand'"  ><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12508_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12508_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12508_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12508_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12508_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12508_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12508_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12508_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12508">0</div>
    <input type="hidden" value="4" id="DC12508" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12509'
    id='div12509' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12509';"
    onmouseover="this.style.cursor='hand'"  ><b>C3</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12509_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12509_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12509_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12509_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12509_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12509_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12509_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12509_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12509">0</div>
    <input type="hidden" value="4" id="DC12509" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12510'
    id='div12510' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12510';"
    onmouseover="this.style.cursor='hand'"  ><b>C4</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12510_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12510_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12510_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12510_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12510_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12510_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12510_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12510_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12510">0</div>
    <input type="hidden" value="4" id="DC12510" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12511'
    id='div12511' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12511';"
    onmouseover="this.style.cursor='hand'"  ><b>C5</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12511_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12511_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12511_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12511_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12511_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12511_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12511_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12511_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12511">0</div>
    <input type="hidden" value="4" id="DC12511" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12512'
    id='div12512' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12512';"
    onmouseover="this.style.cursor='hand'"  ><b>C6</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12512_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12512_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12512_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12512_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12512_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12512_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12512_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12512_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12512">0</div>
    <input type="hidden" value="4" id="DC12512" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12513'
    id='div12513' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12513';"
    onmouseover="this.style.cursor='hand'"  ><b>C7</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12513_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12513_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12513_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12513_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12513_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12513_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12513_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12513_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12513">0</div>
    <input type="hidden" value="4" id="DC12513" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12514'
    id='div12514' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12514';"
    onmouseover="this.style.cursor='hand'"  ><b>C8</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12514_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12514_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12514_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12514_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12514_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12514_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12514_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12514_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12514">0</div>
    <input type="hidden" value="4" id="DC12514" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12515'
    id='div12515' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12515';"
    onmouseover="this.style.cursor='hand'"  ><b>C9</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12515_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12515_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12515_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12515_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12515_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12515_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12515_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12515_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12515">0</div>
    <input type="hidden" value="4" id="DC12515" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12516'
    id='div12516' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12516';"
    onmouseover="this.style.cursor='hand'"  ><b>C10</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12516_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12516_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12516_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12516_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12516_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12516_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12516_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12516_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12516">0</div>
    <input type="hidden" value="4" id="DC12516" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12895'
    id='div12895' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12895';"
    onmouseover="this.style.cursor='hand'"  ><b>C11</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12895_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12895_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12895_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12895_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12895_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12895_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12895_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12895_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12895">0</div>
    <input type="hidden" value="4" id="DC12895" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12896'
    id='div12896' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12896';"
    onmouseover="this.style.cursor='hand'"  ><b>C12</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12896_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12896_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12896_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12896_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12896_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12896_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12896_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12896_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12896">0</div>
    <input type="hidden" value="4" id="DC12896" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12897'
    id='div12897' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12897';"
    onmouseover="this.style.cursor='hand'"  ><b>C13</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12897_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12897_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12897_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12897_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12897_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12897_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12897_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12897_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12897">0</div>
    <input type="hidden" value="4" id="DC12897" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12898'
    id='div12898' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12898';"
    onmouseover="this.style.cursor='hand'"  ><b>C14</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12898_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12898_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12898_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12898_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12898_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12898_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12898_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12898_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12898">0</div>
    <input type="hidden" value="4" id="DC12898" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12899'
    id='div12899' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12899';"
    onmouseover="this.style.cursor='hand'"  ><b>C15</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12899_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12899_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12899_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12899_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12899_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12899_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12899_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12899_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12899">0</div>
    <input type="hidden" value="4" id="DC12899" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12900'
    id='div12900' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12900';"
    onmouseover="this.style.cursor='hand'"  ><b>C16</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12900_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12900_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12900_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12900_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12900_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12900_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12900_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12900_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12900">0</div>
    <input type="hidden" value="4" id="DC12900" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12901'
    id='div12901' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12901';"
    onmouseover="this.style.cursor='hand'"  ><b>C17</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12901_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12901_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12901_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12901_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12901_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12901_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12901_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12901_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12901">0</div>
    <input type="hidden" value="4" id="DC12901" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12902'
    id='div12902' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12902';"
    onmouseover="this.style.cursor='hand'"  ><b>C18</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12902_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12902_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12902_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12902_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12902_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12902_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12902_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12902_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12902">0</div>
    <input type="hidden" value="4" id="DC12902" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12903'
    id='div12903' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12903';"
    onmouseover="this.style.cursor='hand'"  ><b>C19</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12903_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12903_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12903_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12903_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12903_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12903_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12903_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12903_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12903">0</div>
    <input type="hidden" value="4" id="DC12903" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12904'
    id='div12904' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12904';"
    onmouseover="this.style.cursor='hand'"  ><b>C20</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12904_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12904_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12904_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12904_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12904_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12904_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12904_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12904_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12904">0</div>
    <input type="hidden" value="4" id="DC12904" />
    </td>
    </tr>
    </tr>
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</table></div> </ion-content></ion-view>