<ion-view view-title="{{localStorage.iratTitle}}"><ion-nav-title>IRAT{{localStorage.iratTitle}}</ion-nav-title><ion-content padding="true" class="has-header"><div style="font-size:{{localStorage.fontSize}}pt"><table align=left border=0  cellpadding="4" cellspacing="0" style="font-family:Arial, Helvetica, sans-serif; ">
<tr>
<td align="center" colspan="2">
<b style="text-transform: uppercase;">IRAT{{localStorage.iratTitle}}</b>
</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
<td align="center"><b><span class="style1">Câu hỏi</span>
    <tr>
    <td align=center valign=top>
    <a name="anchor12537" id="anchor12537"></a>
	<b>1</b>
    <td>
    <input type=hidden name="T12537" value="1" />
    Người nữ trưởng thành sử dụng các noãn nguyên bào có tại buồng trứng của họ ra sao?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12537'  
		id='C12537' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Phần lớn các tế bào này sẽ thoái hóa và chịu chết theo chương trình  
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12537'  
		id='C12537' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Phần lớn các tế bào này sẽ phân chia nguyên nhiễm để bảo tồn số lượng 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12537'  
		id='C12537' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Phần lớn các tế bào này sẽ tham gia vào tiến trình sinh giao tử
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12537'  
		id='C12537' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Phần lớn các tế bào này sẽ đi đến cùng để trở thành giao tử
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12538" id="anchor12538"></a>
	<b>2</b>
    <td>
    <input type=hidden name="T12538" value="1" />
    Người nam trưởng thành sử dụng các tinh nguyên bào có tại tinh hoàn của họ ra sao?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12538'  
		id='C12538' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Phần lớn các tế bào này sẽ thoái hóa và chịu chết theo chương trình
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12538'  
		id='C12538' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Phần lớn các tế bào này sẽ phân chia nguyên nhiễm để bảo tồn số lượng   
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12538'  
		id='C12538' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Phần lớn các tế bào này sẽ tham gia vào tiến trình sinh giao tử
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12538'  
		id='C12538' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Phần lớn các tế bào này sẽ đi đến cùng để trở thành giao tử
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12539" id="anchor12539"></a>
	<b>3</b>
    <td>
    <input type=hidden name="T12539" value="1" />
    Feedback dương của E2 xảy ra khi thoả một số điều kiện xác định. Chúng thể hiện sự kiện gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12539'  
		id='C12539' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Có một nang noãn đã được chọn lọc từ các nang noãn đang phát triển 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12539'  
		id='C12539' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Có một nang noãn đang phát triển từ các nang đã được chiêu mộ
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12539'  
		id='C12539' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Có một nang noãn với đủ số lượng tế bào hạt và đang phát triển ổn định  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12539'  
		id='C12539' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Có một nang noãn đã được chiêu mộ vào chu kỳ buồng trứng
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12540" id="anchor12540"></a>
	<b>4</b>
    <td>
    <input type=hidden name="T12540" value="1" />
    Feedback của progesterone có vai trò gì trong sinh lý chu kỳ buồng trứng?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12540'  
		id='C12540' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Tiêu huỷ hoàng thể  
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12540'  
		id='C12540' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Củng cố hoàng thể 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12540'  
		id='C12540' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Duy trì hoàng thể 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12540'  
		id='C12540' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Tạo lập hoàng thể
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12541" id="anchor12541"></a>
	<b>5</b>
    <td>
    <input type=hidden name="T12541" value="1" />
    Tác động qua gien của steroid sinh dục dẫn đến kết cục gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12541'  
		id='C12541' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Cả điều hoà lên (up regulation) lẫn điều hoà xuống (down regulation) các gien thuộc cơ quan đích  
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12541'  
		id='C12541' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Điều hoà lên các gien thuộc cơ quan đích
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12541'  
		id='C12541' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Điều hoà xuống các gien thuộc cơ quan đích
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12541'  
		id='C12541' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Khởi động dòng thác các phản ứng bào tương thông qua cAMP  
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12542" id="anchor12542"></a>
	<b>6</b>
    <td>
    <input type=hidden name="T12542" value="1" />
    Nếu tiêm trực tiếp một tinh tử tròn vào bào tương noãn bào II, ta sẽ quan sát thấy điều gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12542'  
		id='C12542' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Noãn bào sẽ tống xuất cực cầu II, thành lập tiền nhân cái nhưng không hình thành tiền nhân đực. Không thụ tinh
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12542'  
		id='C12542' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Noãn bào sẽ không tống xuất được cực cầu II, và cũng không hình thành được tiền nhân đực. Không thụ tinh 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12542'  
		id='C12542' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Noãn bào sẽ tống xuất cực cầu II, thành lập tiền nhân cái và hình thành 2 tiền nhân đực, tạo hợp tử tam bội 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12542'  
		id='C12542' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Noãn bào sẽ tống xuất cực cầu II, thành lập tiền nhân cái và hình thành 1 tiền nhân đực, tạo hợp tử lưỡng bội  
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12543" id="anchor12543"></a>
	<b>7</b>
    <td>
    <input type=hidden name="T12543" value="1" />
    Cửa sổ làm tổ được mở ra dưới điều kiện nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12543'  
		id='C12543' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Nội mạc tử cung tiếp xúc và chịu tác động của LIF, EGF, GF từ phôi đã thoát màng 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12543'  
		id='C12543' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Nội mạc tử cung tiếp xúc và chịu tác động của human Chorionic Gonadotrophin
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12543'  
		id='C12543' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Nội mạc tử cung được phơi bày dưới nồng độ đủ cao và đủ dài của progesterone  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12543'  
		id='C12543' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Nội mạc tử cung được phơi bày dưới nồng độ đủ cao và đủ dài của estradiol
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12544" id="anchor12544"></a>
	<b>8</b>
    <td>
    <input type=hidden name="T12544" value="1" />
    Trong điều kiện thai kỳ bình thường, cơ thể mẹ phản ứng ra sao với sự hiện diện của phôi?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12544'  
		id='C12544' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Có đáp ứng miễn dịch tế bào với ưu thế của T helper cell 1
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12544'  
		id='C12544' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Có đáp ứng miễn dịch tế bào với ưu thế của T helper cell 2  
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12544'  
		id='C12544' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Có sự tăng cường miễn dịch dịch thể với kháng nguyên phôi 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12544'  
		id='C12544' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Có hiện tượng ức chế miễn dịch dịch thể với kháng nguyên phôi
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12545" id="anchor12545"></a>
	<b>9</b>
    <td>
    <input type=hidden name="T12545" value="1" />
    Anti Mullerian Hormone (AMH) có vai trò gì trong sinh lý chu kỳ buồng trứng?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12545'  
		id='C12545' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Là một trong các nội tiết của buồng trứng có tác động lên các cơ quan thuộc hệ Mullerian 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12545'  
		id='C12545' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Là một trong các nội tiết của buồng trứng có tác động lên các cơ quan thuộc tầng trên
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12545'  
		id='C12545' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Là một nội tiết của các nang noãn tiền hốc, tác động lên lẫn nhau để có thể được chiêu mộ  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12545'  
		id='C12545' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Là một nội tiết giúp cho điều hoà sự phát triển và chọn lọc của noãn nang sau chiêu mộ
<br><br>    <tr>
    <td align=center valign=top>
    <a name="anchor12546" id="anchor12546"></a>
	<b>10</b>
    <td>
    <input type=hidden name="T12546" value="1" />
    Inhibin B có vai trò gì trong sinh lý chu kỳ buồng trứng?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type='radio' 
		name='C12546'  
		id='C12546' 
		value='1'
        		ng-click='checkKetQua($event)' />
         Là một trong các nội tiết của buồng trứng có tác động lên các cơ quan thuộc hệ Mullerian
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type='radio' 
		name='C12546'  
		id='C12546' 
		value='2'
        		ng-click='checkKetQua($event)' />
         Là một trong các nội tiết của buồng trứng có tác động lên các cơ quan thuộc tầng trên  
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type='radio' 
		name='C12546'  
		id='C12546' 
		value='3'
        		ng-click='checkKetQua($event)' />
         Là một nội tiết của các nang noãn tiền hốc tác động lên lẫn nhau để có thể được chọn lọc
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type='radio' 
		name='C12546'  
		id='C12546' 
		value='4'
        		ng-click='checkKetQua($event)' />
         Là một nội tiết của các nang noãn có hốc tác động lên lẫn nhau để có thể được chọn lọc
<br><br><div class="ads"></div></Table><table border="1" style="display:none" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tr bgcolor="lightgray" height=40><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height=22>
    <td align="center">
    <div 
    name='div12537'
    id='div12537' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12537';"
    onmouseover="this.style.cursor='hand'"  ><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12537_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12537_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12537_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12537_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12537_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12537_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12537_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12537_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12537">0</div>
    <input type="hidden" value="4" id="DC12537" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12538'
    id='div12538' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12538';"
    onmouseover="this.style.cursor='hand'"  ><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12538_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12538_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12538_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12538_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12538_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12538_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12538_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12538_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12538">0</div>
    <input type="hidden" value="4" id="DC12538" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12539'
    id='div12539' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12539';"
    onmouseover="this.style.cursor='hand'"  ><b>C3</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12539_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12539_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12539_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12539_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12539_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12539_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12539_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12539_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12539">0</div>
    <input type="hidden" value="4" id="DC12539" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12540'
    id='div12540' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12540';"
    onmouseover="this.style.cursor='hand'"  ><b>C4</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12540_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12540_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12540_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12540_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12540_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12540_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12540_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12540_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12540">0</div>
    <input type="hidden" value="4" id="DC12540" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12541'
    id='div12541' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12541';"
    onmouseover="this.style.cursor='hand'"  ><b>C5</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12541_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12541_1" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12541_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12541_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12541_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12541_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12541_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12541_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12541">0</div>
    <input type="hidden" value="4" id="DC12541" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12542'
    id='div12542' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12542';"
    onmouseover="this.style.cursor='hand'"  ><b>C6</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12542_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12542_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12542_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12542_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12542_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12542_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12542_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12542_4" 
    value="1" />
       
    </td>
        <td with=20 align="center"><div id="KQ12542">0</div>
    <input type="hidden" value="4" id="DC12542" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12543'
    id='div12543' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12543';"
    onmouseover="this.style.cursor='hand'"  ><b>C7</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12543_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12543_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12543_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12543_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12543_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12543_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12543_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12543_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12543">0</div>
    <input type="hidden" value="4" id="DC12543" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12544'
    id='div12544' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12544';"
    onmouseover="this.style.cursor='hand'"  ><b>C8</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12544_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12544_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12544_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12544_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12544_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12544_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12544_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12544_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12544">0</div>
    <input type="hidden" value="4" id="DC12544" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12545'
    id='div12545' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12545';"
    onmouseover="this.style.cursor='hand'"  ><b>C9</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12545_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12545_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12545_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12545_2" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12545_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12545_3" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12545_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12545_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12545">0</div>
    <input type="hidden" value="4" id="DC12545" />
    </td>
    </tr>
        <tr height=22>
    <td align="center">
    <div 
    name='div12546'
    id='div12546' 
    style="background-color:#DDDDDD"
    onClick="document.location.hash = 'anchor12546';"
    onmouseover="this.style.cursor='hand'"  ><b>C10</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12546_1'>
	<b>A</b>
    </div>
    <input type="hidden" id="D12546_1" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12546_2'>
	<b>B</b>
    </div>
    <input type="hidden" id="D12546_2" 
    value="1" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12546_3'>
	<b>C</b>
    </div>
    <input type="hidden" id="D12546_3" 
    value="0" />
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id='TL12546_4'>
	<b>D</b>
    </div>
    <input type="hidden" id="D12546_4" 
    value="0" />
       
    </td>
        <td with=20 align="center"><div id="KQ12546">0</div>
    <input type="hidden" value="4" id="DC12546" />
    </td>
    </tr>
    </tr>
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</table></div> </ion-content></ion-view>