



<ion-view view-title="{{localStorage.sany4Title}}"><ion-nav-title>{{localStorage.sany4Title}}</ion-nav-title><ion-content style=' font-size:{{localStorage.fontSize}}pt; font-family: "Times New Roman","serif" '  padding="true" class="has-header"><body bgcolor="LightSkyBlue" style="cursor: default;">








<form id="thi" name="thi" method="GET">
<input type="hidden" name="SoBaoDanh" id="SoBaoDanh" value="20170418_92960">
<input type="hidden" name="idDeThi" id="idDeThi" value="1113">
<input type="hidden" name="DiemDeThi" id="DiemDeThi" value="/">
<input type="hidden" name="ThoiGian" id="ThoiGian" value="120">



<div style="position: fixed; top:8px;display:none; width:20%; right:10px; background-color:#FFFFAA;font-family:Arial, Helvetica, sans-serif;font-size:18px;">
<p align="center">
Thời gian còn lại<br><font color="blue"><b><input type="hidden" name="Clock" id="Clock" value="1492453473168"> <span id="Clock_1"> 1:59:57</span>
</b></font><br>
<span id="newborn"><img src="sany4/115_files/newborn.gif" height="60" border="0"></span>
<br>
Số báo danh<br><font color="blue"><b>20170418_92960</b></font> 
<br>
<span id="button1">
<img src="sany4/115_files/submit_icon1.jpg" height="50" width="160" onmouseover="this.style.cursor=&#39;pointer&#39;" onclick="JavaScript:if (TG&gt;10) if(confirm(&#39;Are you sure you want to STOP ?&#39;)){
 //document.getElementById(&#39;thi&#39;).submit(); 
 stopAllRadio();clearTimeout(loop1);
 document.getElementById(&#39;newborn&#39;).innerHTML=strimg;
 document.getElementById(&#39;button1&#39;).innerHTML=stopimg;
 return true;} 
 else return false;">
 </span>
 </p>
</div>


<p>
<table align="left" border="0" width="100%" cellpadding="4" cellspacing="0" style='font-family:"Times New Roman","serif";font-size:{{localStorage.fontSize}}pt; color:#000033;'>
<tbody><tr>
<td align="center" colspan="2">

</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
</b></td><td align="center"><b><span class="style1" style="font-size:{{localStorage.fontSize*1+4}}pt">Câu hỏi: {{localStorage.sany4Title}}</span>
    </b></td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor13017" id="anchor13017"></a>
	<b>1</b>
    </td><td>
    <input type="hidden" name="T13017" value="1">
    TÌNH HUỐNG 1: BREAST MILK JAUNDICE hay BREASTFEEDING JAUNDICE<br>
Bà T. 38 tuổi, PARA 0000.<br>
Bà vừa sanh thường dễ và nhanh sau khi phá ối, một bé trai 3500 gram lúc 39 tuần vô kinh.<br>
Bà T. cho bé bú sữa mẹ hoàn toàn.<br> 
Ở ngày thứ tư hậu sản, bà than phiền rằng bà rất đau ở núm vú bên trái khi cho bé bú.<br>
Bà T. cho biết rằng bà ta bắt đầu cho bé bú từ ngay sau sanh.<br>
Hiện bà T. sốt 38.5 độ C.<br>
Vú phải bình thường, mềm.<br>
Hõm nách phải bình thường.<br>
Vú trái có vài vùng da đỏ ửng.<br>
Khám thấy đó là các mảng cứng, nóng và rất đau khi khám.<br>
Nặn thấy có sữa trắng đục chảy ra.<br>
Núm vú trái có một tổn thương loét hình liềm.<br>
Nách trái có một vài khối cứng kích thước khoảng 2cm, rất đau khi chạm.<br>
<img border="0px" align="" alt="" style="width:90vw; height:auto;" src="sany4/115_files/4121.jpg"><br>
Bạn đã đề nghị bà T. thực hiện bữa bú để bạn quan sát.<br>
Ảnh chụp cho thấy cách bà T. bế con và con bà đã ngậm vú ra sao.<br>
<img border="0px" align="" alt="" style="width:90vw; height:auto;" src="sany4/115_files/4122.jpg"><br>
Về phía bé, bé bị vàng da từ 2 ngày nay.<br>
Mức độ vàng da tăng nhanh.<br>
Bé thường xuyên khóc đòi bú, nhưng ngậm vú được một lúc thì nhả ra và khóc.<br>
Từ khi sanh, bé đi tiêu 2 lần mỗi ngày, phân su đã chuyển sang phân vàng.<br>
Bé tiểu khoảng 2-3 lần mỗi ngày, nước tiểu vàng sậm.<br>
Hiện tại bé cân 3150 gram. Ngoài ra không thấy bất thường gì khác ở bé.<br>
Định lượng nồng độ bilirubin toàn phần huyết thanh 12 mg/dL (170 µmol/L).<br>
Hãy giải quyết vấn đề của bà T.<br>
Chọn một hay nhiều câu đúng. 
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C13017" id="C13017" value="1" ng-click="checkKetQua($event);">
         Tạm thời ngưng hoàn toàn sữa mẹ trong vài ngày, dùng tạm sữa công thức 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C13017" id="C13017" value="2" ng-click="checkKetQua($event);">
         Tạm thời chuyển sang cho bú hỗn hợp hoặc sữa mẹ có bổ sung sữa công thức trong vài ngày 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C13017" id="C13017" value="3" ng-click="checkKetQua($event);">
         Cần thay đổi tư thế cho bé bú
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C13017" id="C13017" value="4" ng-click="checkKetQua($event);">
         Cần hướng dẫn lại cách đặt bé vào vú
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type="radio" name="C13017" id="C13017" value="5" ng-click="checkKetQua($event);">
         Cần phải bắt đầu kháng sinh từ thời điểm này  
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type="radio" name="C13017" id="C13017" value="6" ng-click="checkKetQua($event);">
         Cần thực hiện quang liệu pháp
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type="radio" name="C13017" id="C13017" value="7" ng-click="checkKetQua($event);">
          
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor13018" id="anchor13018"></a>
	<b>2</b>
    </td><td>
    <input type="hidden" name="T13018" value="1">
    TÌNH HUỐNG 2: MẸ ĐI LÀM<br>
Bà C. 32 tuổi, sanh mổ được hơn 6 tháng, đến khám vì vú trái bị sưng và đau từ 3 ngày nay.<br>
Trong 6 tháng đầu bà C. cho bé bú sữa mẹ hoàn toàn, không có vấn đề gì bất thường trong thời gian đó.<br>
Bà C. đã đi làm lại được 2 tuần.<br>
Kể từ lúc đó, bà hút sữa bằng bơm hút tay (hình) trước khi đi làm.<br>
Bà cũng nhờ người nhà bé cho bé ăn sữa mẹ bằng thìa và cốc trong khi bà đi làm.<br>
Bà ngủ cùng bé và cho bé bú vào buổi tối.<br>
Bà ngồi cho bé bú 1 lần trước khi ngủ và nằm cho bú 1 lần vào khoảng 4 giờ sáng.<br>
Lúc đang làm việc ở cơ quan, bà cũng cố hút sữa bằng bơm hút tay và giữ lại để cho bé ăn ở nhà.<br>
<img border="0px" align="" alt="" style="width:90vw; height:auto;" src="sany4/115_files/4123.jpg"><br>
Bà C. không gặp khó khăn gì trong việc hút sữa, sữa ra nhanh và dễ.<br>
Nhưng do công việc quá bận rộn nên bà ta không thể hút sữa thường xuyên và đều được.<br>
Bà cũng đã cho bé ăn dặm 1 bữa mỗi ngày.<br>
Vú trái bắt đầu có biểu hiện hiện sưng và đau từ 3 ngày nay.<br>
Khám ghi nhận bà C. đang sốt 38.5 độ C và cảm thấy mệt mỏi.<br>
Vú phải bình thường, mềm. Hõm nách phải bình thường.<br>
Vú trái có một vùng da đỏ ửng, cứng, nóng và rất đau khi khám.<br>
Nặn thấy có ít sữa trắng đục chảy ra.<br>
Hõm nách trái có một vài khối cứng kích thước khoảng 2cm, đau khi chạm.<br>
Hãy giải quyết vấn đề của bà C.<br>
Chọn một hay nhiều câu đúng. 
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C13018" id="C13018" value="1" ng-click="checkKetQua($event);">
         Cần thay đổi tư thế cho bé bú: chỉ nên cho bú tư thế ngồi, không nên nằm cho bé bú…
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C13018" id="C13018" value="2" ng-click="checkKetQua($event);">
         Cần thay đổi phương pháp làm trống bầu vú: chuyển sang cách hút sữa khác hiệu quả hơn như bằng máy hút…
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C13018" id="C13018" value="3" ng-click="checkKetQua($event);">
         Cần điều chỉnh và tăng cường nhịp điệu làm trống bầu vú 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C13018" id="C13018" value="4" ng-click="checkKetQua($event);">
         Cần phải bắt đầu kháng sinh từ thời điểm này 
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type="radio" name="C13018" id="C13018" value="5" ng-click="checkKetQua($event);">
         Cai sữa mẹ, chuyển hẳn sang cho bú sữa công thức và ăn dặm 
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type="radio" name="C13018" id="C13018" value="6" ng-click="checkKetQua($event);">
          
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor13019" id="anchor13019"></a>
	<b>3</b>
    </td><td>
    <input type="hidden" name="T13019" value="1">
    TÌNH HUỐNG 3: TIẾP TỤC CHO CON BÚ HAY TẠM NGƯNG<br>
Bà A. 30 tuổi, PARA 1001.<br>
Sanh thường cách đây 1 tháng lúc thai được 38 tuần vô kinh, bé cân nặng 3000 gram.<br>
Bà A. cho bé bú sữa mẹ hoàn toàn.<br>
Hiện tại bé cân nặng 4000 gram.<br> 
Cách nay 2 ngày, bà thấy đau ở vú phải, nên đi khám ở phòng khám tư và phát hiện một khối ở vú phải.<br>
Bà được chẩn đoán viêm vú không nhiễm trùng.<br>
Bà được dùng Paracetamol và được khuyên cần tích cực cho bé bú, đồng thời với hút sạch sữa sau mỗi cữ bú.<br> 
Hôm nay, bà A. lại đến khám vì khối cứng ở vú phải trở nên rất đau.<br>
Bà cho biết là khối này hầu như không thuyên giảm với điều trị.<br>
Hiện bà A. sốt 38.5 độ C.<br>
Vú trái bình thường, mềm. Hõm nách trái bình thường.<br>
Vú phải sưng có vùng da lớn đỏ ửng. Khám thấy đó là một mảng cứng, nóng và rất đau khi khám.<br>
Nặn thấy có ít sữa trắng đục chảy ra.<br>
Nách phải có một vài khối cứng kích thước khoảng 2cm, rất đau khi chạm.<br>
Hãy giải quyết vấn đề của bà A.<br>
Chọn các câu đúng.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C13019" id="C13019" value="1" ng-click="checkKetQua($event);">
         Có chỉ định bắt đầu dùng kháng sinh từ thời điểm này 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C13019" id="C13019" value="2" ng-click="checkKetQua($event);">
         Chưa có chỉ định dùng kháng sinh ở thời điểm này
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C13019" id="C13019" value="3" ng-click="checkKetQua($event);">
         Nên tạm ngưng hoàn toàn sữa mẹ trong vài ngày, hút hay vắt bỏ sữa, đồng thời dùng tạm sữa công thức 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C13019" id="C13019" value="4" ng-click="checkKetQua($event);">
         Tiếp tục cho bé bú, nhưng chỉ cho bú bên vú trái, hút bỏ sữa bên vú phải 
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type="radio" name="C13019" id="C13019" value="5" ng-click="checkKetQua($event);">
         Tiếp tục cho bé bú, nhưng chỉ cho bú bên vú trái, hút sữa bên vú phải và tiệt trùng sữa từ vú phải trước khi cho bé ăn
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type="radio" name="C13019" id="C13019" value="6" ng-click="checkKetQua($event);">
         Tiếp tục cho bé bú, bằng cả hai bên vú
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type="radio" name="C13019" id="C13019" value="7" ng-click="checkKetQua($event);">
          
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor13020" id="anchor13020"></a>
	<b>4</b>
    </td><td>
    <input type="hidden" name="T13020" value="1">
    TÌNH HUỐNG 4: KHÁNG SINH<br>
Bà H. 25 tuổi, PARA 1001.<br>
Bà sanh thường cách đây 4 ngày, sau phát khởi chuyển dạ vì ối vỡ non, lúc thai được 36 tuần vô kinh.<br>
Trong chuyển dạ có sốt.<br>
Bà đã được dùng kháng sinh nhóm β-lactamin vì sốt trên ối vỡ non.<br>
Bé cân nặng 2600 g, bé theo mẹ sau sinh. Bà H. cho bé bú sữa mẹ hoàn toàn.<br>  
Sau sanh, bà H. sốt gián đoạn, dù vẫn đang dùng kháng sinh nhóm β-lactamin.<br>
Từ hôm qua, bà thấy sốt, đau vùng hạ vị kèm ra dịch âm đạo hôi.<br>
Khám ghi nhận bà H. đang sốt 39 độ C, vẻ mệt mỏi.<br>
Hai vú căng, ấm, không u cục, không đau khi chạm. Hõm nách hai bên bình thường.<br>
Bề cao tử cung 15 cm trên vệ, chạm đau.<br>
Ấn sâu 2 hố chậu đau, không có phản ứng thành bụng, phản ứng dội không rõ.<br> 
Đặt mỏ vịt thấy âm đạo có dịch hồng đục, hôi.<br>
Công thức máu ghi nhận số lượng bạch cầu 18000/mm3, với neutrophile = 90%.<br>
Siêu âm thấy có ứ dịch lòng tử cung, không hình ảnh bất thường ở 2 buồng trứng.<br>
Kết quả cấy sản dịch phân lập được Eschrichia coli:<br>
Nhạy với Ofloxacin, Gentamycin, Metronidazole.<br>
Trung gian với Ceftriaxone, phức bộ Amoxicillin+Acid Clavulanic, phức bộ Trimethoprim+Sulfamethoxazole, Clindamycin.<br>
Kháng với các kháng sinh khác.<br> 
Người ta quyết định thực hiện nong thoát sản dịch và tiêm thuốc gò tử cung, cùng với kháng sinh liệu pháp.<br>
Cần làm gì khi điều trị cho bà H. ?<br>
Chọn một hay nhiều câu đúng.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C13020" id="C13020" value="1" ng-click="checkKetQua($event);">
         Tiếp tục cho bé bú khi đang dùng các kháng sinh nhạy theo kháng sinh đồ Ofloxacin, Gentamycin, Metronidazole
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C13020" id="C13020" value="2" ng-click="checkKetQua($event);">
         Tạm ngưng hoàn toàn sữa mẹ trong thời gian điều trị kháng sinh nhạy theo kháng sinh đồ, dùng tạm sữa công thức 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C13020" id="C13020" value="3" ng-click="checkKetQua($event);">
         Có thể duy trì cho bú sữa mẹ, nhưng không nên dùng nhóm Quinolone, nên thay bằng nhóm khác
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C13020" id="C13020" value="4" ng-click="checkKetQua($event);">
         Có thể duy trì cho bú sữa mẹ, nhưng không nên dùng nhóm Aminoglycoside, nên thay bằng nhóm khác 
<br>&nbsp;&nbsp;&nbsp;<b>E</b>.  
        <input type="radio" name="C13020" id="C13020" value="5" ng-click="checkKetQua($event);">
         Có thể duy trì cho bú sữa mẹ, nhưng không nên dùng Metronidazole, nên thay bằng nhóm khác 
<br>&nbsp;&nbsp;&nbsp;<b>F</b>.  
        <input type="radio" name="C13020" id="C13020" value="6" ng-click="checkKetQua($event);">
         Tiếp tục cho bú mẹ, duy trì kháng sinh nhóm β-lactamin
<br>&nbsp;&nbsp;&nbsp;<b>G</b>.  
        <input type="radio" name="C13020" id="C13020" value="7" ng-click="checkKetQua($event);">
          
<br><br></td></tr></tbody></table>


</p></form>


<div style="position:fixed; overflow-y: scroll;right:10px; top: 250px; width:20%; height: 100%;display:none
; bottom:-200px; 235px; background-color:#FFFFFF">

<table border="1" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tbody><tr bgcolor="lightgray" height="40"><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height="22">
    <td align="center">
    <div name="div13017" id="div13017" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor13017&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13017_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D13017_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13017_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D13017_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13017_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D13017_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13017_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D13017_4" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13017_5">
	<b>E</b>
    </div>
    <input type="hidden" id="D13017_5" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13017_6">
	<b>F</b>
    </div>
    <input type="hidden" id="D13017_6" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13017_7">
	<b>G</b>
    </div>
    <input type="hidden" id="D13017_7" value="1">
       
    </td>
        <td with="20" align="center"><div id="KQ13017">0</div>
    <input type="hidden" value="4" id="DC13017">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div13018" id="div13018" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor13018&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13018_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D13018_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13018_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D13018_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13018_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D13018_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13018_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D13018_4" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13018_5">
	<b>E</b>
    </div>
    <input type="hidden" id="D13018_5" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13018_6">
	<b>F</b>
    </div>
    <input type="hidden" id="D13018_6" value="1">
       
    </td>
        <td with="20" align="center"><div id="KQ13018">0</div>
    <input type="hidden" value="4" id="DC13018">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div13019" id="div13019" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor13019&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C3</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13019_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D13019_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13019_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D13019_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13019_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D13019_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13019_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D13019_4" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13019_5">
	<b>E</b>
    </div>
    <input type="hidden" id="D13019_5" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13019_6">
	<b>F</b>
    </div>
    <input type="hidden" id="D13019_6" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13019_7">
	<b>G</b>
    </div>
    <input type="hidden" id="D13019_7" value="1">
       
    </td>
        <td with="20" align="center"><div id="KQ13019">0</div>
    <input type="hidden" value="4" id="DC13019">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div13020" id="div13020" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor13020&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C4</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13020_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D13020_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13020_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D13020_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13020_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D13020_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13020_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D13020_4" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13020_5">
	<b>E</b>
    </div>
    <input type="hidden" id="D13020_5" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13020_6">
	<b>F</b>
    </div>
    <input type="hidden" id="D13020_6" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL13020_7">
	<b>G</b>
    </div>
    <input type="hidden" id="D13020_7" value="1">
       
    </td>
        <td with="20" align="center"><div id="KQ13020">0</div>
    <input type="hidden" value="4" id="DC13020">
    </td>
    </tr>
    
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</tbody></table>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>



<div class="ads"></div></ion-content></ion-view>