



<ion-view view-title="{{localStorage.sany4Title}}"><ion-nav-title>{{localStorage.sany4Title}}</ion-nav-title><ion-content style=' font-size:{{localStorage.fontSize}}pt; font-family: "Times New Roman","serif" '  padding="true" class="has-header"><body bgcolor="LightSkyBlue" style="cursor: default;">








<form id="thi" name="thi" method="GET">
<input type="hidden" name="SoBaoDanh" id="SoBaoDanh" value="20170418_90526">
<input type="hidden" name="idDeThi" id="idDeThi" value="1086">
<input type="hidden" name="DiemDeThi" id="DiemDeThi" value="/">
<input type="hidden" name="ThoiGian" id="ThoiGian" value="10">



<div style="position: fixed; top:8px;display:none; width:20%; right:10px; background-color:#FFFFAA;font-family:Arial, Helvetica, sans-serif;font-size:18px;">
<p align="center">
Thời gian còn lại<br><font color="blue"><b><input type="hidden" name="Clock" id="Clock" value="1492452646311"> <span id="Clock_1"> 0:9:57</span>
</b></font><br>
<span id="newborn"><img src="sany4/20_files/newborn.gif" height="60" border="0"></span>
<br>
Số báo danh<br><font color="blue"><b>20170418_90526</b></font> 
<br>
<span id="button1">
<img src="sany4/20_files/submit_icon1.jpg" height="50" width="160" onmouseover="this.style.cursor=&#39;pointer&#39;" onclick="JavaScript:if (TG&gt;10) if(confirm(&#39;Are you sure you want to STOP ?&#39;)){
 //document.getElementById(&#39;thi&#39;).submit(); 
 stopAllRadio();clearTimeout(loop1);
 document.getElementById(&#39;newborn&#39;).innerHTML=strimg;
 document.getElementById(&#39;button1&#39;).innerHTML=stopimg;
 return true;} 
 else return false;">
 </span>
 </p>
</div>


<p>
<table align="left" border="0" width="100%" cellpadding="4" cellspacing="0" style='font-family:"Times New Roman","serif";font-size:{{localStorage.fontSize}}pt; color:#000033;'>
<tbody><tr>
<td align="center" colspan="2">

</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
</b></td><td align="center"><b><span class="style1" style="font-size:{{localStorage.fontSize*1+4}}pt">Câu hỏi: {{localStorage.sany4Title}}</span>
    </b></td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12697" id="anchor12697"></a>
	<b>1</b>
    </td><td>
    <input type="hidden" name="T12697" value="1">
    Ở thời điểm tuổi thai 11-14 tuần, thông số sinh trắc nào biến thiên tuyến tính theo tuổi thai?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12697" id="C12697" value="1" ng-click="checkKetQua($event);">
         Đường kính trung bình của túi thai
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12697" id="C12697" value="2" ng-click="checkKetQua($event);">
         Chiều dài đầu-mông của phôi thai
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12697" id="C12697" value="3" ng-click="checkKetQua($event);">
         Đường kính lưỡng đỉnh của đầu thai  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12697" id="C12697" value="4" ng-click="checkKetQua($event);">
         Độ sâu lớn nhất của xoang ngoài phôi 
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12698" id="anchor12698"></a>
	<b>2</b>
    </td><td>
    <input type="hidden" name="T12698" value="1">
    β-hCG huyết thanh = 100IU/L, siêu âm không thấy túi thai trong tử cung. Bạn nói gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12698" id="C12698" value="1" ng-click="checkKetQua($event);">
         Hiện tại thai phụ có dấu hiệu sinh hóa của có thai  
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12698" id="C12698" value="2" ng-click="checkKetQua($event);">
         Hiện tại thai phụ có thai lâm sàng giai đoạn sớm 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12698" id="C12698" value="3" ng-click="checkKetQua($event);">
         Hiện tại thai vẫn chưa di chuyển đến buồng tử cung
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12698" id="C12698" value="4" ng-click="checkKetQua($event);">
         Có khả năng thai đã thoái triển hay ngưng phát triển  
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12699" id="anchor12699"></a>
	<b>3</b>
    </td><td>
    <input type="hidden" name="T12699" value="1">
    Siêu âm không thấy túi thai trong tử cung, phải nghĩ đến thai ngoài tử cung ở trường hợp nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12699" id="C12699" value="1" ng-click="checkKetQua($event);">
         Diễn biến của nồng độ β-hCG huyết thanh không tăng được gấp đôi sau một khoảng thời gian là 48 giờ
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12699" id="C12699" value="2" ng-click="checkKetQua($event);">
         Nồng độ β-hCG huyết thanh đã ở trên một ngưỡng định trước, tùy theo siêu âm đường bụng hay âm đạo  
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12699" id="C12699" value="3" ng-click="checkKetQua($event);">
         Nồng độ β-hCG huyết thanh thấp hơn trị số 50th percentile của nồng độ β-hCG huyết thanh theo tuổi thai
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12699" id="C12699" value="4" ng-click="checkKetQua($event);">
         Không tìm thấy hình ảnh của thai trong tử cung qua nhiều lần khảo sát liên tiếp bằng siêu âm ngả âm đạo
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12700" id="anchor12700"></a>
	<b>4</b>
    </td><td>
    <input type="hidden" name="T12700" value="1">
    Các nội dung của chương trình tầm soát lệch bội được áp dụng cho những thai phụ nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12700" id="C12700" value="1" ng-click="checkKetQua($event);">
         Các thai phụ với thai kỳ có các biểu hiện bất thường trong phát triển bào thai
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12700" id="C12700" value="2" ng-click="checkKetQua($event);">
         Các thai phụ có nguy cơ lâm sàng cao có lệch bội theo tuổi, tiền sử thai sản
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12700" id="C12700" value="3" ng-click="checkKetQua($event);">
         Mọi thai phụ, không có bất cứ trường hợp nào được xem là ngoại lệ  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12700" id="C12700" value="4" ng-click="checkKetQua($event);">
         Mọi thai phụ, ngoại trừ các thai phụ có nguy cơ lâm sàng cao có lệch bội
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12701" id="anchor12701"></a>
	<b>5</b>
    </td><td>
    <input type="hidden" name="T12701" value="1">
    Vì sao khi đọc kết quả Triple test, ta lấy ngưỡng cắt 1/250 để quyết định làm test xâm lấn?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12701" id="C12701" value="1" ng-click="checkKetQua($event);">
         Giảm bớt tỉ lệ mất thai do thủ thuật 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12701" id="C12701" value="2" ng-click="checkKetQua($event);">
         Giảm bớt số thủ thuật xâm lấn phải làm  
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12701" id="C12701" value="3" ng-click="checkKetQua($event);">
         Giảm tỉ lệ âm giả (FNR) của triple test
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12701" id="C12701" value="4" ng-click="checkKetQua($event);">
         Giảm gánh nặng chi phí nuôi cấy tế bào
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12702" id="anchor12702"></a>
	<b>6</b>
    </td><td>
    <input type="hidden" name="T12702" value="1">
    Tầm soát lệch bội cho đa thai, test nào có giá trị nhất?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12702" id="C12702" value="1" ng-click="checkKetQua($event);">
         Các chỉ báo huyết thanh (sero-markers)
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12702" id="C12702" value="2" ng-click="checkKetQua($event);">
         Các chỉ báo mềm qua siêu âm (soft-markers) 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12702" id="C12702" value="3" ng-click="checkKetQua($event);">
         Mảnh vỡ DNA thai trong máu mẹ (cell-free DNA)
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12702" id="C12702" value="4" ng-click="checkKetQua($event);">
         Khảo sát độ dầy khoảng thấu âm sau gáy (Nuchal Translucency)  
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12703" id="anchor12703"></a>
	<b>7</b>
    </td><td>
    <input type="hidden" name="T12703" value="1">
    3 tháng đầu thai kỳ, huyết thanh chẩn đoán HBsAg dương tính. Trước tiên bạn sẽ làm gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12703" id="C12703" value="1" ng-click="checkKetQua($event);">
         Định lượng copies virus 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12703" id="C12703" value="2" ng-click="checkKetQua($event);">
         Chọc ối khảo sát PCR 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12703" id="C12703" value="3" ng-click="checkKetQua($event);">
         Test huyết thanh HBeAg  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12703" id="C12703" value="4" ng-click="checkKetQua($event);">
         Kiểm tra chức năng gan 
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12704" id="anchor12704"></a>
	<b>8</b>
    </td><td>
    <input type="hidden" name="T12704" value="1">
    3 tháng đầu, huyết thanh Rubella IgM và IgG cùng cho kết quả âm tính, bạn phản ứng ra sao?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12704" id="C12704" value="1" ng-click="checkKetQua($event);">
         Rất lo lắng, vì thế cần thực hiện tăng cường khám thai 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12704" id="C12704" value="2" ng-click="checkKetQua($event);">
         Rất lo lắng, vì thế cần theo dõi diễn biến huyết thanh 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12704" id="C12704" value="3" ng-click="checkKetQua($event);">
         Rất an tâm, nhưng cần thực hiện theo dõi tăng cường
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12704" id="C12704" value="4" ng-click="checkKetQua($event);">
         Rất an tâm, vì thế không làm gì khác ngoài theo dõi thường qui
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12705" id="anchor12705"></a>
	<b>9</b>
    </td><td>
    <input type="hidden" name="T12705" value="1">
    Cytomegalovirus có thể gây nhiễm trùng bào thai rất nặng. Chọn một nhận định đúng về tầm soát CMV.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12705" id="C12705" value="1" ng-click="checkKetQua($event);">
         Nếu CMV IgG(+) trước khi mang thai, thai phụ sẽ không bị nhiễm CMV trong thai kỳ 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12705" id="C12705" value="2" ng-click="checkKetQua($event);">
         Nếu phát hiện CMV IgM (+), nên kết luận thai phụ đang nhiễm CMV cấp trong thai kỳ  
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12705" id="C12705" value="3" ng-click="checkKetQua($event);">
         Không nên xem việc tầm soát CMV trong thai kỳ như là một tầm soát thường qui  
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12705" id="C12705" value="4" ng-click="checkKetQua($event);">
         Chấm dứt thai kỳ ngay nếu khảo sát huyết thanh CMV IgM và IgG cùng có kết quả (+)
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12706" id="anchor12706"></a>
	<b>10</b>
    </td><td>
    <input type="hidden" name="T12706" value="1">
    3 tháng đầu thai kỳ, phát hiện thai phụ có thiếu máu nhược sắc hồng cầu nhỏ, bạn sẽ làm gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12706" id="C12706" value="1" ng-click="checkKetQua($event);">
         Định lượng Ferritin  
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12706" id="C12706" value="2" ng-click="checkKetQua($event);">
         Điện di hemoglobin
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12706" id="C12706" value="3" ng-click="checkKetQua($event);">
         Bổ sung sắt và acid Folic 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12706" id="C12706" value="4" ng-click="checkKetQua($event);">
         Test phân tìm giun móc
<br><br></td></tr></tbody></table>


</p></form>


<div style="position:fixed; overflow-y: scroll;right:10px; top: 250px; width:20%; height: 100%;display:none
; bottom:-200px; 415px; background-color:#FFFFFF">

<table border="1" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tbody><tr bgcolor="lightgray" height="40"><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height="22">
    <td align="center">
    <div name="div12697" id="div12697" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12697&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12697_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12697_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12697_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12697_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12697_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12697_3" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12697_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12697_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12697">0</div>
    <input type="hidden" value="4" id="DC12697">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12698" id="div12698" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12698&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12698_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12698_1" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12698_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12698_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12698_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12698_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12698_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12698_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12698">0</div>
    <input type="hidden" value="4" id="DC12698">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12699" id="div12699" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12699&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C3</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12699_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12699_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12699_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12699_2" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12699_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12699_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12699_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12699_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12699">0</div>
    <input type="hidden" value="4" id="DC12699">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12700" id="div12700" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12700&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C4</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12700_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12700_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12700_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12700_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12700_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12700_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12700_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12700_4" value="1">
       
    </td>
        <td with="20" align="center"><div id="KQ12700">0</div>
    <input type="hidden" value="4" id="DC12700">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12701" id="div12701" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12701&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C5</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12701_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12701_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12701_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12701_2" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12701_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12701_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12701_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12701_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12701">0</div>
    <input type="hidden" value="4" id="DC12701">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12702" id="div12702" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12702&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C6</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12702_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12702_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12702_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12702_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12702_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12702_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12702_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12702_4" value="1">
       
    </td>
        <td with="20" align="center"><div id="KQ12702">0</div>
    <input type="hidden" value="4" id="DC12702">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12703" id="div12703" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12703&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C7</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12703_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12703_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12703_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12703_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12703_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12703_3" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12703_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12703_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12703">0</div>
    <input type="hidden" value="4" id="DC12703">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12704" id="div12704" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12704&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C8</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12704_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12704_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12704_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12704_2" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12704_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12704_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12704_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12704_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12704">0</div>
    <input type="hidden" value="4" id="DC12704">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12705" id="div12705" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12705&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C9</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12705_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12705_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12705_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12705_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12705_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12705_3" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12705_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12705_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12705">0</div>
    <input type="hidden" value="4" id="DC12705">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12706" id="div12706" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12706&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C10</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12706_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12706_1" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12706_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12706_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12706_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12706_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12706_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12706_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12706">0</div>
    <input type="hidden" value="4" id="DC12706">
    </td>
    </tr>
    
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</tbody></table>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>



<div class="ads"></div></ion-content></ion-view>