



<ion-view view-title="{{localStorage.sany4Title}}"><ion-nav-title>{{localStorage.sany4Title}}</ion-nav-title><ion-content style=' font-size:{{localStorage.fontSize}}pt; font-family: "Times New Roman","serif" '  padding="true" class="has-header"><body bgcolor="LightSkyBlue" style="cursor: default;">








<form id="thi" name="thi" method="GET">
<input type="hidden" name="SoBaoDanh" id="SoBaoDanh" value="20170418_92960">
<input type="hidden" name="idDeThi" id="idDeThi" value="1093">
<input type="hidden" name="DiemDeThi" id="DiemDeThi" value="/">
<input type="hidden" name="ThoiGian" id="ThoiGian" value="10">



<div style="position: fixed; top:8px;display:none; width:20%; right:10px; background-color:#FFFFAA;font-family:Arial, Helvetica, sans-serif;font-size:18px;">
<p align="center">
Thời gian còn lại<br><font color="blue"><b><input type="hidden" name="Clock" id="Clock" value="1492453183481"> <span id="Clock_1"> 0:9:57</span>
</b></font><br>
<span id="newborn"><img src="sany4/67_files/newborn.gif" height="60" border="0"></span>
<br>
Số báo danh<br><font color="blue"><b>20170418_92960</b></font> 
<br>
<span id="button1">
<img src="sany4/67_files/submit_icon1.jpg" height="50" width="160" onmouseover="this.style.cursor=&#39;pointer&#39;" onclick="JavaScript:if (TG&gt;10) if(confirm(&#39;Are you sure you want to STOP ?&#39;)){
 //document.getElementById(&#39;thi&#39;).submit(); 
 stopAllRadio();clearTimeout(loop1);
 document.getElementById(&#39;newborn&#39;).innerHTML=strimg;
 document.getElementById(&#39;button1&#39;).innerHTML=stopimg;
 return true;} 
 else return false;">
 </span>
 </p>
</div>


<p>
<table align="left" border="0" width="100%" cellpadding="4" cellspacing="0" style='font-family:"Times New Roman","serif";font-size:{{localStorage.fontSize}}pt; color:#000033;'>
<tbody><tr>
<td align="center" colspan="2">

</td>
</tr>
<tr>
<td width="5%" valign="top"><b>&nbsp;
</b></td><td align="center"><b><span class="style1" style="font-size:{{localStorage.fontSize*1+4}}pt">Câu hỏi: {{localStorage.sany4Title}}</span>
    </b></td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12817" id="anchor12817"></a>
	<b>1</b>
    </td><td>
    <input type="hidden" name="T12817" value="1">
    Bất thường trong cách xâm nhập của nguyên bào nuôi vào các động mạch xoắn ở màng rụng là sự khởi đầu của cơ chế bệnh sinh chủ yếu của tiền sản giật. Bất thường này được thể hiện sớm nhất qua dấu hiệu nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12817" id="C12817" value="1" ng-click="checkKetQua($event);">
         Tăng trở kháng giường mạch máu rốn ở nhau
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12817" id="C12817" value="2" ng-click="checkKetQua($event);">
         Tăng trở kháng của động mạch tử cung
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12817" id="C12817" value="3" ng-click="checkKetQua($event);">
         Tăng lưu lượng dòng chảy qua mạch máu rốn
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12817" id="C12817" value="4" ng-click="checkKetQua($event);">
         Tăng lưu lượng dòng chảy qua động mạch tử cung
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12818" id="anchor12818"></a>
	<b>2</b>
    </td><td>
    <input type="hidden" name="T12818" value="1">
    Nguyên nhân gây ra phù não trong tiền sản giật là gì?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12818" id="C12818" value="1" ng-click="checkKetQua($event);">
         Thay đổi áp lực keo của huyết tương do cô đặc máu
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12818" id="C12818" value="2" ng-click="checkKetQua($event);">
         Tăng áp suất thủy tĩnh mao mạch do tăng huyết áp
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12818" id="C12818" value="3" ng-click="checkKetQua($event);">
         Tăng tính thấm thành mạch do tổn thương cấu trúc
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12818" id="C12818" value="4" ng-click="checkKetQua($event);">
         Rối loạn thăng bằng kiềm-toan do tình trạng thiếu O2
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12819" id="anchor12819"></a>
	<b>3</b>
    </td><td>
    <input type="hidden" name="T12819" value="1">
    Năm 2013, ACOG đã đề nghị những thay đổi quan trọng trong tiêu chuẩn chẩn đoán tiền sản giật, trong đó có tiêu chuẩn liên quan đến tình trạng đạm niệu. Thay đổi liên quan đến đạm niệu này đã được ACOG phát biểu thế nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12819" id="C12819" value="1" ng-click="checkKetQua($event);">
         Sự hiện diện của đạm niệu không còn được xem là yếu tố quan trọng để chẩn đoán tiền sản giật
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12819" id="C12819" value="2" ng-click="checkKetQua($event);">
         Khi đạm niệu ở mẫu nước tiểu bất kỳ âm tính thì phải thực hiện đạm niệu 24 giờ để chẩn đoán 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12819" id="C12819" value="3" ng-click="checkKetQua($event);">
         Chẩn đoán tiền sản giật có thể được thiết lập mà không cần sự có mặt của đạm niệu
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12819" id="C12819" value="4" ng-click="checkKetQua($event);">
         Mức đạm niệu cao hơn 5 gram trong 24 giờ là một dấu hiệu nặng của tiền sản giật
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12820" id="anchor12820"></a>
	<b>4</b>
    </td><td>
    <input type="hidden" name="T12820" value="1">
    Xử trí tiền sản giật với dấu hiệu nặng phải tuân thủ các nguyên tắc quan trọng. Chọn một nguyên tắc được phát biểu đúng
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12820" id="C12820" value="1" ng-click="checkKetQua($event);">
         Chấm dứt thai kỳ là biện pháp duy nhất giải quyết triệt để tình trạng tiền sản giật
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12820" id="C12820" value="2" ng-click="checkKetQua($event);">
         Điều kiện quan trọng nhất để quyết định chấm dứt thai kỳ là diễn biến nặng của đạm niệu
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12820" id="C12820" value="3" ng-click="checkKetQua($event);">
         Mục tiêu dùng thuốc chống tăng huyết áp là đưa huyết áp của thai phụ về trị số bình thường
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12820" id="C12820" value="4" ng-click="checkKetQua($event);">
         Mục tiêu của dùng MgSO4 là dùng tác dụng an thần của nó để ngăn cản sự xuất hiện cơn co giật 
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12821" id="anchor12821"></a>
	<b>5</b>
    </td><td>
    <input type="hidden" name="T12821" value="1">
    Hãy xác định điều trị nào là điều trị nền tảng của quản lý tiền sản giật?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12821" id="C12821" value="1" ng-click="checkKetQua($event);">
         Thuốc chống tăng huyết áp 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12821" id="C12821" value="2" ng-click="checkKetQua($event);">
         Magnesium sulfate
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12821" id="C12821" value="3" ng-click="checkKetQua($event);">
         Nhóm barbiturate hoặc nhóm zepam
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12821" id="C12821" value="4" ng-click="checkKetQua($event);">
         Thuốc chống kết tập tiểu cầu 
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12822" id="anchor12822"></a>
	<b>6</b>
    </td><td>
    <input type="hidden" name="T12822" value="1">
    Hãy xác định các đặc điểm của thay đổi hô hấp ở bệnh nhân bị ngộ độc MgSO4 khi điều trị tiền sản giật.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12822" id="C12822" value="1" ng-click="checkKetQua($event);">
         Thở nhanh, nông, co kéo
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12822" id="C12822" value="2" ng-click="checkKetQua($event);">
         Thở chậm, không co kéo
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12822" id="C12822" value="3" ng-click="checkKetQua($event);">
         Thở kiểu Cheyne-Stokes
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12822" id="C12822" value="4" ng-click="checkKetQua($event);">
         Thở kiểu Kussmaul 
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12823" id="anchor12823"></a>
	<b>7</b>
    </td><td>
    <input type="hidden" name="T12823" value="1">
    Nhiều nhóm thuốc chống tăng huyết áp khác nhau được đề nghị dùng trong điều trị tiền sản giật. Nhóm thuốc chống tăng huyết áp nào đánh trực tiếp vào cơ chế bệnh sinh của bệnh lý này?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12823" id="C12823" value="1" ng-click="checkKetQua($event);">
         Thuốc ức chế kênh canxi
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12823" id="C12823" value="2" ng-click="checkKetQua($event);">
         Thuốc ức chế thụ thể alpha
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12823" id="C12823" value="3" ng-click="checkKetQua($event);">
         Thuốc ức chế thụ thể beta
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12823" id="C12823" value="4" ng-click="checkKetQua($event);">
         Thuốc giãn mạch trực tiếp
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12824" id="anchor12824"></a>
	<b>8</b>
    </td><td>
    <input type="hidden" name="T12824" value="1">
    Có thể xuất hiện thai chậm tăng trưởng trong tử cung khi có tiền sản giật. Sự hiện diện của tình trạng thai chậm tăng trưởng trong tử cung ảnh hưởng ra sao đến quyết định xử trí tiền sản giật?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12824" id="C12824" value="1" ng-click="checkKetQua($event);">
         Tình trạng này xác lập chẩn đoán tiền sản giật có biểu hiện nặng. Khi đó, xử trí như tiền sản giật có biểu hiện nặng
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12824" id="C12824" value="2" ng-click="checkKetQua($event);">
         Nguyên tắc xử trí tiền sản giật là không đổi. Xử trí thai song song thai chậm tăng trưởng tùy vào tình trạng thai
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12824" id="C12824" value="3" ng-click="checkKetQua($event);">
         Thuốc chống tăng huyết áp và corticoids liệu pháp có thể được dùng an toàn, dù có tình trạng thai chậm tăng trưởng 
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12824" id="C12824" value="4" ng-click="checkKetQua($event);">
         Tiền sản giật là một bệnh lý độc lập. Xử trí tiền sản giật không bị thay đổi khi có kèm tình trạng thai chậm tăng trưởng 
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12825" id="anchor12825"></a>
	<b>9</b>
    </td><td>
    <input type="hidden" name="T12825" value="1">
    Các bằng chứng y học chứng cứ hiện nay đã cho thấy biện pháp nào có hiệu quả trong dự phòng tiền sản giật áp dụng trên dân số nguy cơ cao của tiền sản giật.
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12825" id="C12825" value="1" ng-click="checkKetQua($event);">
         Dùng các chất chống oxy hóa
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12825" id="C12825" value="2" ng-click="checkKetQua($event);">
         Dùng progesterone
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12825" id="C12825" value="3" ng-click="checkKetQua($event);">
         Bổ sung vitamin D
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12825" id="C12825" value="4" ng-click="checkKetQua($event);">
         Dùng acetylsalicylic acid   
<br><br>    </td></tr><tr>
    <td align="center" valign="top">
    <a name="anchor12826" id="anchor12826"></a>
	<b>10</b>
    </td><td>
    <input type="hidden" name="T12826" value="1">
    Suy thận cấp trong tiền sản giật được xếp vào nhóm nào?
<br>&nbsp;&nbsp;&nbsp;<b>A</b>.  
        <input type="radio" name="C12826" id="C12826" value="1" ng-click="checkKetQua($event);">
         Hoại tử ống thận cấp 
<br>&nbsp;&nbsp;&nbsp;<b>B</b>.  
        <input type="radio" name="C12826" id="C12826" value="2" ng-click="checkKetQua($event);">
         Hoại tử vỏ thận cấp 
<br>&nbsp;&nbsp;&nbsp;<b>C</b>.  
        <input type="radio" name="C12826" id="C12826" value="3" ng-click="checkKetQua($event);">
         Giảm cung lượng tuần hoàn
<br>&nbsp;&nbsp;&nbsp;<b>D</b>.  
        <input type="radio" name="C12826" id="C12826" value="4" ng-click="checkKetQua($event);">
         Suy thận cấp sau thận
<br><br></td></tr></tbody></table>


</p></form>


<div style="position:fixed; overflow-y: scroll;right:10px; top: 250px; width:20%; height: 100%;display:none
; bottom:-200px; 415px; background-color:#FFFFFF">

<table border="1" style="font-family:Arial, Helvetica, sans-serif; font-size:20px" cellpadding="1" cellspacing="0" width="95%" align="center" bgcolor="lightgray">
<tbody><tr bgcolor="lightgray" height="40"><td colspan="6" align="center"><font color="darkblue"><b>IF AT</b></font></td></tr>
    <tr height="22">
    <td align="center">
    <div name="div12817" id="div12817" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12817&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C1</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12817_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12817_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12817_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12817_2" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12817_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12817_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12817_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12817_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12817">0</div>
    <input type="hidden" value="4" id="DC12817">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12818" id="div12818" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12818&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C2</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12818_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12818_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12818_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12818_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12818_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12818_3" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12818_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12818_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12818">0</div>
    <input type="hidden" value="4" id="DC12818">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12819" id="div12819" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12819&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C3</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12819_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12819_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12819_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12819_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12819_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12819_3" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12819_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12819_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12819">0</div>
    <input type="hidden" value="4" id="DC12819">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12820" id="div12820" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12820&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C4</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12820_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12820_1" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12820_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12820_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12820_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12820_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12820_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12820_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12820">0</div>
    <input type="hidden" value="4" id="DC12820">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12821" id="div12821" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12821&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C5</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12821_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12821_1" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12821_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12821_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12821_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12821_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12821_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12821_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12821">0</div>
    <input type="hidden" value="4" id="DC12821">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12822" id="div12822" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12822&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C6</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12822_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12822_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12822_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12822_2" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12822_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12822_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12822_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12822_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12822">0</div>
    <input type="hidden" value="4" id="DC12822">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12823" id="div12823" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12823&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C7</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12823_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12823_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12823_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12823_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12823_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12823_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12823_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12823_4" value="1">
       
    </td>
        <td with="20" align="center"><div id="KQ12823">0</div>
    <input type="hidden" value="4" id="DC12823">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12824" id="div12824" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12824&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C8</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12824_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12824_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12824_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12824_2" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12824_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12824_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12824_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12824_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12824">0</div>
    <input type="hidden" value="4" id="DC12824">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12825" id="div12825" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12825&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C9</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12825_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12825_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12825_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12825_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12825_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12825_3" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12825_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12825_4" value="1">
       
    </td>
        <td with="20" align="center"><div id="KQ12825">0</div>
    <input type="hidden" value="4" id="DC12825">
    </td>
    </tr>
        <tr height="22">
    <td align="center">
    <div name="div12826" id="div12826" style="background-color:#DDDDDD" onclick="document.location.hash = &#39;anchor12826&#39;;" onmouseover="this.style.cursor=&#39;hand&#39;"><b>C10</b></div></td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12826_1">
	<b>A</b>
    </div>
    <input type="hidden" id="D12826_1" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12826_2">
	<b>B</b>
    </div>
    <input type="hidden" id="D12826_2" value="0">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12826_3">
	<b>C</b>
    </div>
    <input type="hidden" id="D12826_3" value="1">
       
    </td>
        <td align="center" bgcolor="#BBBBBB" width="30">
	<div id="TL12826_4">
	<b>D</b>
    </div>
    <input type="hidden" id="D12826_4" value="0">
       
    </td>
        <td with="20" align="center"><div id="KQ12826">0</div>
    <input type="hidden" value="4" id="DC12826">
    </td>
    </tr>
    
<tr><td align="center" colspan="6"><input type="hidden" value="0" id="sumscore">
<span id="total"><b>SCORE: 0</b></span>
</td></tr>
</tbody></table>




<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>



<div class="ads"></div></ion-content></ion-view>